<!--
 * @Author: your name
 * @Date: 2021-12-03 22:34:50
 * @LastEditTime: 2021-12-04 15:04:03
 * @LastEditors: Please set LastEditors
 * @Description: 产品简易搜索选择
 * @FilePath: \cfpt-admin\src\components\TagSelect\index.vue
-->
<template>
  <el-select
    v-if="list"
    v-model="val"
    filterable
    clearable
    :style="customStyle"
    remote
    reserve-keyword
    placeholder="请输入产品关键词"
    :remote-method="_getList"
    :loading="loading"
    @change="_change"
  >
    <el-option
      v-for="item in list"
      :key="item.id"
      :label="item.name"
      :value="item.id"
    />
  </el-select>
</template>

<script>
import request from '@/utils/request';
export default {
  name: 'UserSelect',
  props: {
    multiple: {
      type: Boolean,
      default: false
    },
    customStyle: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      baseUrl: '/api/merchants/maps',
      list: [],
      val: '',
      loading: false
    };
  },
  created() {
    this._getList();
  },
  // beforeDestroy() {
  //   window.removeEventListener('scroll', this.handleScroll)
  //   if (this.interval) {
  //     clearInterval(this.interval)
  //   }
  // },
  methods: {
    setValue(value) {
      this.val = value;
    },
    _clear() {
      this.val = '';
    },
    _change(e) {
      console.log(e);
      this.$emit('update:value', e);
    },
    async _getList(key) {
      console.log(key);
      this.loading = true;

      const str = key ? `name:${key}` : '';
      const p = {
        search: str,
        page_size: 50
      };
      try {
        const res = await request({
          url: '/api/products',
          method: 'get',
          params: p
        });

        this.list = res.list;
      } catch (e) {
        console.log(e);
      }
      this.loading = false;
    }
  }
};
</script>

<style scoped lang="scss"></style>
