<!--
 * @Author: loserjohn
 * @Date: 2022-05-08 09:23:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-08 15:30:40
 * @Description: ---
 * @FilePath: \xh-admin-templete\src\views\dashboard\index.vue
-->
<!--
 * @Author: loserjohn
 * @Date: 2022-03-27 12:28:48
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-08 13:27:23
 * @Description: ---
 * @FilePath: \xh-admin-templete\src\views\dashboard\index.vue
-->
<template>
  <div class="full">
    <div style="width: 100%">
      <h3>富文本</h3>

      <h4>百度 UdEditpr</h4>
      <div class="picBox">
        <UeEditor ref="editor" />
      </div>
      <h4>百度 Tinymce</h4>
      <div class="picBox">
        <Tinymce ref="editor2" />
      </div>
    </div>
  </div>
</template>

<script>
import UeEditor from '@/components/UeEditor';
import Tinymce from '@/components/Tinymce';

export default {
  components: {
    UeEditor,
    Tinymce
  },
  data() {
    return {
      amountData: {},
      mapData: [],
      zdCount: {},
      opCount: {},
      hyData: []
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>

<style lang="scss" scoped>
.full {
  width: 100vw;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
}
.picBox {
  width: 100%;
  box-sizing: border-box;
}
</style>
