<!--
 * @Author       : xh
 * @Date         : 2022-05-27 15:28:42
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-27 15:30:36
 * @FilePath     : \xh-admin-templete\src\views\example\upload.vue
-->
<!--
 * @Author: loserjohn
 * @Date: 2022-05-08 09:23:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-08 15:30:40
 * @Description: ---
 * @FilePath: \xh-admin-templete\src\views\dashboard\index.vue
-->
<!--
 * @Author: loserjohn
 * @Date: 2022-03-27 12:28:48
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-08 13:27:23
 * @Description: ---
 * @FilePath: \xh-admin-templete\src\views\dashboard\index.vue
-->
<template>
  <div class="full">
    <div style="width: 100%">
      <h4>上传</h4>
      <h4>单图上传</h4>
      <div class=" ">
        <UploadImage ref="mainPic" />
      </div>

      <h4>多图上传</h4>
      <div class=" ">
        <UploadImageArray ref="detailPic" />
      </div>
    </div>
  </div>
</template>

<script>
import request from '@/utils/request';
import UploadImage from '@/components/Upload/UploadImage';
import UploadImageArray from '@/components/Upload/UploadImageArray';


export default {
  components: {
    UploadImage,
    UploadImageArray
  },
  data() {
    return {
      amountData: {},
      mapData: [],
      zdCount: {},
      opCount: {},
      hyData: []
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>

<style lang="scss" scoped>
.full {
  width: 100vw;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
}
.picBox {
  width: 100%;
  box-sizing: border-box;
}
</style>
