<!--
 * @Author: your name
 * @Date: 2021-12-03 22:34:50
 * @LastEditTime: 2022-01-26 15:27:28
 * @LastEditors: Please set LastEditors
 * @Description: 标签筛选组件
 * @FilePath: \cfpt-admin\src\components\ClassSelect\index.vue
-->
<template>
  <div style="display: inline-block">
    <!-- 连级选择模式 -->
    <el-cascader
      v-if="type == 'search' && list"
      ref="classSelect"
      v-model="val"
      :style="customSytle"
      clearable
      :options="list"
      :props="defaultprops"
      :change-on-select="strict"
      placeholder="产品类型"
      @change="_change"
    />

    <!-- 平行选择模式 -->
    <el-select
      v-if="type == 'select' && list"
      v-model="val"
      :style="customSytle"
      :multiple="multiple"
      placeholder="请选择产品类型"
      clearable
      @change="_change"
    >
      <el-option-group
        v-for="group in list"
        :key="group.id"
        :label="group.name"
      >
        <el-option
          v-for="item in group.subs"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-option-group>
    </el-select>
  </div>
</template>

<script>
import request from '@/utils/request';
export default {
  name: 'ClassSelect',
  props: {
    type: {
      type: String,
      default: 'select'
    },
    multiple: {
      type: Boolean,
      default: false
    },
    customSytle: {
      type: Object,
      default: function() {
        return {};
      }
    },
    strict: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      baseUrl: '/api/product/categories',
      val: [],
      list: [],
      defaultprops: {
        value: 'id',
        label: 'name',
        children: 'subs',
        multiple: this.multiple
      }
    };
  },
  created() {
    this._getList();
  },
  // beforeDestroy() {
  //   window.removeEventListener('scroll', this.handleScroll)
  //   if (this.interval) {
  //     clearInterval(this.interval)
  //   }
  // },
  methods: {
    setValue(value) {
      this.val = value;
    },
    _change(e) {
      console.log(e);

      if (this.type == 'search') {
        const id = e[e.length - 1];
        this.$emit('chooseperant', e);
        this.$emit('update:value', id);
      } else {
        this.$emit('update:value', e);
      }
    },
    // 省
    async _getList() {
      try {
        const res = await this.__getList();
        this.list = res.list;
      } catch (error) {
        return [];
      }
    },
    __getList(data) {
      return request({
        url: this.baseUrl,
        method: 'get',
        params: data
      });
    }
  }
};
</script>

<style scoped lang="scss"></style>
