<!--
 * @Author: your name
 * @Date: 2021-12-05 22:04:35
 * @LastEditTime: 2022-04-21 15:14:58
 * @LastEditors: loserjohn
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \sys\src\components\TableSetting\index.vue
-->
<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-12-05 22:04:35
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-05 22:23:20
 * @ Description: 页面 的个性配置
 -->

<template>
  <!-- <div> -->

  <el-dropdown v-if="table" trigger="click">
    <el-button type="primary" icon="el-icon-s-tools" circle />
    <el-dropdown-menu slot="dropdown">
      <!-- <p v-if="search && local_search" class="tit">搜索项设置</p>
              <div v-for="(it, index) in local_search" :key="index + 's'" class="items">
                <span> {{ it.label }}</span>
                <el-switch
                class="switchs"
                  v-model="it.value"
                  active-text="显示"
                  inactive-text="隐藏"
                  :active-value="1"
                  :inactive-value="0"
                  @change="save"
                />
              </div> -->
      <p class="tit">
        列表设置
      </p>
      <div v-for="(it, index) in table" :key="index + 't'" class="items">
        <span> {{ it.label }}</span>
        <el-switch
          v-model="it.value" class="switchs" active-text="显示"
          inactive-text="隐藏" :active-value="1" :inactive-value="0"
          @change="suresave"
        />
      </div>
      <div style="text-align: center">
        <el-button type="warning" size="mini" @click="_handleReset">
          清楚配置缓存
        </el-button>
      </div>
    </el-dropdown-menu>
  </el-dropdown>

  <!-- </div> -->
</template>

<script>
export default {
  name: 'TableSet',
  props: {
    // default_config_table: {
    //   type: Object,
    //   default: null
    // },
    table: {
      type: Object,
      default: null
    },
    id: {
      // eslint-disable-next-line vue/require-prop-type-constructor
      type: String | Number,
      default: ''
    }
  },
  data() {
    return {
      // local_search: null,
      local_table: null
    };
  },
  mounted() {
    // this.local_search = {
    //   ...this.search
    // }
    // this.local_table = {
    //   ...this.table
    // }
  },
  beforeDestroy() {},
  methods: {
    suresave(e) {
      if (e == 1) {
        this.$emit('rebuild', {
          config_table: {
            ...this.table
          }
        });
      }
      this.save();
    },
    save() {
      const str = JSON.stringify({
        config_table: {
          ...this.table
        }
      });
      localStorage.setItem(`setting_${this.id}`, str);
    },
    _handleReset() {
      localStorage.removeItem(`setting_${this.id}`);
      this.$emit('rebuild', {
        config_table: null
      });
    }
  }
};
</script>

<style scoped lang="scss">
.tit {
  padding: 0 20px;
  font-weight: 600;
  color: #999;
}

.items {
  line-height: 40px;
  padding: 0 16px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .switchs {
    margin-left: 20px;
  }
}
</style>
