<!--
 * @Author: your name
 * @Date: 2021-12-03 22:34:50
 * @LastEditTime: 2022-02-16 22:54:30
 * @LastEditors: Please set LastEditors
 * @Description: 省市县区选择组件
 * @FilePath: \cfpt-admin\src\components\AreaSelect\index.vue
-->
<template>
  <el-cascader
    v-if="options"
    ref="area"
    v-model="area"
    :style="customSytle"
    clearable
    :props="options"
    placeholder="请选择省、市、县、区"
    :change-on-select="multiple ? true : false"
    @change="_change"
  />
</template>

<script>
import request from '@/utils/request';
export default {
  name: 'AreaSelect',
  props: {
    multiple: {
      type: Boolean,
      default: false
    },
    customSytle: {
      type: Object,
      default: () => {}
    },
    customStyle: {
      type: Object,
      default: function() {
        return {
          right: '50px',
          bottom: '50px',
          width: '40px',
          height: '40px',
          'border-radius': '4px',
          'line-height': '45px',
          background: '#e7eaf1'
        };
      }
    },
    transitionName: {
      type: String,
      default: 'fade'
    }
  },
  data() {
    return {
      options: null,
      area: []
    };
  },
  created() {
    const that = this;
    this.options = {
      multiple: that.multiple,
      lazy: true,
      async lazyLoad(node, resolve) {
        // console.log("node", node);
        const { level } = node;
        if (level == 0) {
          // 获取省份列表
          const nodes = await that._getProvince();
          resolve(nodes);
        } else if (level == 1) {
          // 获取市列表
          const nodes = await that._getCitis(node.value);
          resolve(nodes);
        } else if (level == 2) {
          // 获取县列表
          const nodes = await that._getCountrys(node.value);
          resolve(nodes);
        } else if (level == 3) {
          // 获取区列表
          const nodes = await that._getTown(node.value);
          resolve(nodes);
        } else {
          resolve();
        }
      }
    };
  },
  // beforeDestroy() {
  //   window.removeEventListener('scroll', this.handleScroll)
  //   if (this.interval) {
  //     clearInterval(this.interval)
  //   }
  // },
  methods: {
    _clear() {
      // debugger;
      const that = this;
      this.$nextTick(() => {
        // that.$refs.area.clearCheckedNodes();
        that.area = [];
      });
    },
    _change(e) {
      const res = [];
      const rl = this.$refs.area.getCheckedNodes();

      if (rl && rl.length) {
        rl.map((it) => {
          const { path, pathLabels } = it;
          const r = {};
          if (path[0]) {r.province_id = path[0] || '';}
          if (path[1]) {r.city_id = path[1] || '';}
          if (path[2]) {r.country_id = path[2] || '';}
          if (path[3]) {r.town_id = path[3] || '';}
          r.area_name = pathLabels ? pathLabels.join('/') : '';

          res.push(r);
        });
      }
      // return res;
      console.log(111, res);
      this.$emit('change', res);
    },
    // 省
    async _getProvince() {
      try {
        const res = await this.__getProvince();
        const list =
          res && res.length > 0
            ? res.map((it) => ({
              value: it.id,
              label: it.province_name
            }))
            : [];
        console.log(list);
        return list;
      } catch (error) {
        this.$message({
          type: 'error',
          message: '省份获取失败' + error.response.data.message
        });
        return [];
      }
    },
    __getProvince() {
      return request({
        url: '/api/provinces',
        method: 'get'
      });
    },
    // 市
    async _getCitis(id) {
      try {
        const res = await this.__getCitis(id);
        const list =
          res && res.length > 0
            ? res.map((it) => ({
              value: it.id,
              label: it.city_name
            }))
            : [];
        console.log(list);
        return list;
      } catch (error) {
        this.$message({
          type: 'error',
          message: '市获取失败' + error.response.data.message
        });
        return [];
      }
    },
    __getCitis(id) {
      return request({
        url: `/api/citys/${id}`,
        method: 'get'
      });
    },
    // 县
    async _getCountrys(id) {
      try {
        const res = await this.__getCountrys(id);
        const list =
          res && res.length > 0
            ? res.map((it) => ({
              value: it.id,
              label: it.country_name
            }))
            : [];
        console.log(list);
        return list;
      } catch (error) {
        this.$message({
          type: 'error',
          message: '县获取失败' + error.response.data.message
        });
        return [];
      }
    },
    __getCountrys(id) {
      return request({
        url: `/api/countrys/${id}`,
        method: 'get'
      });
    },

    // 区
    async _getTown(id) {
      try {
        const res = await this.__getTown(id);
        const list =
          res && res.length > 0
            ? res.map((it) => ({
              value: it.id,
              label: it.town_name,
              leaf: true
            }))
            : [];
        console.log(list);
        return list;
      } catch (error) {
        this.$message({
          type: 'error',
          message: '区获取失败' + error.response.data.message
        });
        return [];
      }
    },
    __getTown(id) {
      return request({
        url: `/api/town/${id}`,
        method: 'get'
      });
    }
  }
};
</script>

<style scoped lang="scss"></style>
