<template>
  <div class="app_container">
    <div style="width: 100%">
      <el-card class="app_container_header" shadow="never" :body-style="{ padding: '5px' }">
        <el-row :gutter="20" type="flex" justify="space-between">
          <div class="searchBars">
            <el-button type="success" plain @click="handleAll">
              全选
            </el-button>
            <el-button type="warning" plain @click="handleClear">
              清空
            </el-button>
            <el-button type="primary" @click="handleSave">
              保存
            </el-button>
            <el-button type="default" @click="handleReset">
              重置
            </el-button>
          </div>
        </el-row>
      </el-card>
      <div v-loading="loading">
        <h3>权限配置</h3>
        <el-tree
          ref="tree" :data="list" :props="defaultProps"
          show-checkbox default-expand-all node-key="id"
          highlight-current :check-strictly="true" :expand-on-click-node="true"
          @check-change="checkChange"
        />
      </div>
    </div>
  </div>
</template>

<script>
import request from '@/utils/request';
// import baseModel from "@/utils/baseModel";

export default {
  name: 'MaxRoleRight', // 权限配置
  // mixins: [baseModel],
  props: {
    parentKey: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      baseUrl: '/api/roles/:id/permissions',

      defaultProps: {
        children: 'subs',
        label: 'display_name'
      },
      treeBand: false,
      list: [],
      ids: [],
      loading: false,
      selectList: [], // 已选的 权限
      idslist: [] // 所有的 id
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  async created() {
    this._getTree();
  },
  methods: {
    async handleAll() {
      // this.ids = [];
      // for (var key in this.model.operates) {
      //   this.model.page_ids.push(key);
      // }
      this.$refs.tree.setCheckedKeys(this.idslist);

      // for (var item in this.config.operates) {
      //   this.model.operates[item] = [];
      //   for (let i = 0; i < this.config.operates[item].length; i++) {
      //     this.model.operates[item].push(this.config.operates[item][i].name);
      //   }
      // }
    },
    handleClear() {
      // this.ids = [];
      this.$refs.tree.setCheckedKeys([]);

      // for (var key in this.model.operates) {
      //   this.model.operates[key] = [];
      // }
    },
    handleCheckedChange(event, id) {
      // console.log(event, id)
      // this.model.page_ids = this.$refs.tree.getCheckedKeys()
      // if (this.model.operates[id].length > 0 && this.model.page_ids.indexOf(id) < 0) {
      //   this.model.page_ids.push(id)
      //   this.treeBand = true
      //   this.$nextTick(() => {
      //     this.$refs.tree.setCheckedKeys(this.model.page_ids)
      //     this.treeBand = false
      //   })
      // }
    },
    checkChange(data, checked, child) {
      // if (this.treeBand) {
      //   return
      // }
      // this.model.operates[data.id] = []
      // if (checked) {
      //   for (let i = 0; i < this.config.operates[data.id].length; i++) {
      //     this.model.operates[data.id].push(this.config.operates[data.id][i].name)
      //   }
      // }
    },
    async handleReset() {
      this.$refs.tree.setCheckedKeys(this.selectList, false);
    },

    async handleSave() {
      const page_ids = this.$refs.tree.getCheckedKeys();
      console.log('params参数', page_ids);

      this.loading = true;
      try {
        const res = await this.__save({ permissions: page_ids });
        this.$message({
          type: 'success',
          message: '保存成功!'
        });
      } catch (error) {
        this.$message({
          type: 'error',
          message: '保存失败：' + error
        });
      }
      this.loading = false;
    },

    async __save(data) {
      return request({
        url: `/api/roles/${this.parentKey}/permissions`,
        method: 'post',
        data
      });
    },

    // 获取树结构
    async _getTree() {
      this.loading = true;
      try {
        const res = await this.__getList();
        const has = await this.__getHas();
        // this.list = res.list;
        // this.idslist = this._filterList(res.list);

        this.list = this._filterList([...res.list], has.permissions);

        this.selectList = has.permissions;
        // debugger
        this.$nextTick(() => {
          this.$refs.tree.setCheckedKeys(this.selectList, false);
          // this.treeBand = false;
        });
      } catch (error) {
        console.log(error);
      }

      this.loading = false;
    },
    _filterList(list, has = []) {
      let res = [];
      list.map((it, index) => {
        this.idslist.push(it.id);

        if (has.includes(it.id)) {
          it.checked = 1;
        } else {
          it.checked = 0;
        }

        if (it.subs && it.subs.length > 0) {
          it.subs = this._filterList(it.subs, has);
        }
        res.push(it);
      });
      return res;
    },
    async __getHas() {
      return request({
        url: `/api/roles/${this.parentKey}/permissions`,
        method: 'get'
      });
    },
    async __getList() {
      return request({
        url: '/api/permissions',
        method: 'get'
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app_container {
  padding: 5px;
  .user-table {
    margin-top: 30px;
  }

  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
