<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-10 16:34:24
 * @ Description:  权限管理  控制 admin 路由表
 -->

<template>
  <div class="app-container">
    <el-card
      class="app_container_header"
      :body-style="{ padding: '5px' }"
    >
      <el-row
        :gutter="20"
        type="flex"
        justify="space-between"
      >
        <div class="searchBars">
          <el-input
            v-model="search_items.name"
            prefix-icon="el-icon-user"
            placeholder="唯一表示查询"
            style="width: 160px"
            clearable
          />
          <el-input
            v-model="search_items.display_name"
            prefix-icon="el-icon-user"
            placeholder="名称查询"
            style="width: 160px"
            clearable
          />
          <!-- <el-select
            v-model="searchForm.change_status"
            placeholder="产品状态"
            clearable
          >
            <el-option label="启用" :value="1"> </el-option>
            <el-option label="禁用" :value="0"> </el-option>
          </el-select> -->

          <el-button
            type="primary"
            @click="handleSearch"
          >
            查询
          </el-button>
          <el-button
            type="warning"
            plain
            @click="resetSearch"
          >
            重置
          </el-button>
        </div>
        <div class="searchBars">
          <el-button
            type="primary"
            @click="handleAdd(initModel)"
          >
            添加权限
          </el-button>
          <el-button
            type="danger"
            plain
            @click="handleDeletes"
          >
            删除
          </el-button>
        </div>
      </el-row>
    </el-card>

    <el-table
      v-loading="loading"
      :data="dataList"
      row-key="id"
      :tree-props="{ children: 'subs', hasChildren: 'hasChildren' }"
      style="width: 100%"
      border
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        align="center"
        width="55"
      />
      <el-table-column
        align="left"
        label="权限名称"
        width="220px"
      >
        <template slot-scope="scope">
          {{ scope.row.display_name }}
          <!-- <el-input
            v-model="scope.row.name"
            @change="handleChangeListener(scope.row, 'display_name')"
            @blur="handleProperty(scope.row, 'display_name')"
          /> -->
        </template>
      </el-table-column>

      <el-table-column
        align="left"
        label="标识"
        width="180px"
      >
        <template slot-scope="scope">
          <el-input
            v-model="scope.row.name"
            clearable
            @change="handleChangeListener(scope.row, 'name')"
            @blur="handleProperty(scope.row, 'name')"
          />
        </template>
      </el-table-column>

      <!-- <el-table-column align="left" label="是否启用" width="80px">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.status"
            active-value="1"
            inactive-value="0"
            @change="handleStatus(scope.row.id, scope.row.status)"
          />
        </template>
      </el-table-column> -->
      <el-table-column
        align="left"
        label="备注"
      >
        <template slot-scope="scope">
          {{ scope.row.description }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="操作"
      >
        <template slot-scope="scope">
          <el-button
            v-if="rightCheck('update')"
            type="primary"
            size="small"
            @click="handleEdit(scope)"
          >
            编辑
          </el-button>
          <el-button
            v-if="rightCheck('deletes')"
            type="danger"
            size="small"
            @click="handleDelete(scope)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- 编辑框 -->
    <el-dialog
      :visible.sync="dialogVisible"
      :title="dialogType === 'edit' ? '编辑权限' : '新增权限'"
    >
      <el-form
        ref="ruleForm"
        :model="model"
        label-width="100px"
        :rules="formValiteRule"
        label-position="right"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="父级分组">
              <el-cascader
                v-model="pidArray"
                :options="dataList"
                placeholder="请选择父级权限"
                clearable
                :change-on-select="true"
                :props="{
                  value: 'id',
                  label: 'display_name',
                  children: 'subs',
                }"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="权限名称"
              prop="display_name"
            >
              <el-input
                v-model="model.display_name"
                placeholder="请输入权限名称"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="权限标识"
              prop="name"
            >
              <el-input
                v-model="model.name"
                placeholder="请输入权限标识"
                clearable
              />
            </el-form-item>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label="启用标志" prop="status">
              <el-switch
                v-model="model.status"
                :active-value="1"
                :inactive-value="0"
              />
            </el-form-item>
          </el-col> -->
        </el-row>

        <el-form-item
          label="备注"
          prop="description"
        >
          <el-input
            v-model="model.description"
            :autosize="{ minRows: 2, maxRows: 4 }"
            type="textarea"
            placeholder=""
          />
        </el-form-item>
      </el-form>
      <div style="text-align: right">
        <el-button
          type="primary"
          @click="_handleSave"
        >
          保存
        </el-button>
        <el-button
          type="danger"
          @click="handleReset"
        >
          重置
        </el-button>
        <el-button
          type="default"
          @click="dialogVisible = false"
        >
          取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
// import request from '@/utils/request'
import baseModel from '@/utils/baseModel';
// import IconsPages from '@/components/icons'

const defaultModel = {
  pid: 0,
  name: '',
  display_name: '',
  //   status: 1,
  description: '',
  level_data: []
};

// let module = {}

export default {
  name: 'MaxPage',
  components: {
    // IconsPages
  }, // 权限管理
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/api/permissions',
      keyName: 'id',
      modelName: '权限',
      initModel: defaultModel,
      uploadUrl: process.env.VUE_APP_BASE_API + '/Upload/File/Saves',
      pidArray: [],
      drawer: false,
      search_items: {
        name: '',
        display_name: ''
      },
      formValiteRule: {
        display_name: { required: true, message: '不能为空' },
        name: { required: true, message: '不能为空' }
      }
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    this.getList();
  },
  methods: {
    select() {
      this.drawer = true;
    },
    saveBefore() {
      if (this.pidArray.length > 0) {
        this.model.pid = this.pidArray[this.pidArray.length - 1];
      } else {
        this.model.pid = 0;
      }
      this.model.level_data = this.pidArray;
      return this.model;
    },
    addBefore() {
      this.pidArray = [];
    },
    async handleEdit(scope) {
      this.dialogType = 'edit';
      this.currentKey = scope.row[this.keyName];
      this.model = this.formatModal(defaultModel, scope.row);
      // debugger
      this.pidArray = scope.row.level_data || [];
      // debugger
      this.dialogVisible = true;
    },
    handleReset() {
      this.model = defaultModel;
      this.pidArray = [];
    },
    _handleSave() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleSave();
          // return true
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }

  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>

<style>
.el-tag--medium {
  height: 30px;
  line-height: 30px;
  margin-right: 8px;
  padding-left: 0px;
}
</style>
