<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-09 22:02:36
 * @ Description:字典项管理
 -->

<template>
  <div class="app_container">
    <div class="app_container_header">
      <header class="app_container_title">
        信息筛选
      </header>
      <div class="app_container_lines" />
      <div class="app_container_search">
        <div class="searchBars">
          <div class="searchBars_fields">
            <div class="searchBars_label">
              唯一标识查询:
            </div>
            <el-input
              v-model="search_items.name" prefix-icon="el-icon-user" placeholder="唯一表示查询"
              style="width: 160px" clearable
            />
          </div>
          <div class="searchBars_fields">
            <div class="searchBars_label">
              字典项名称:
            </div>
            <el-input
              v-model="search_items.display_name" prefix-icon="el-icon-user" placeholder="名称查询"
              style="width: 160px" clearable
            />
          </div>
        </div>
        <div class="searchBars">
          <el-button type="primary" @click="handleSearch">
            查询
          </el-button>
          <el-button type="primary" plain @click="resetSearch">
            重置
          </el-button>
        </div>
      </div>
    </div>
    <div class="app_container_content">
      <header class="app_container_bar">
        <div class="app_container_title">
          数据列表
        </div>
        <div class="app_container_tools">
          <el-button type="danger" plain @click="handleDeletes">
            删除
          </el-button>
          <el-button type="primary" @click="handleAdd(initModel)">
            添加 字典项
          </el-button>
        </div>
      </header>
      <el-table
        v-loading="loading" :data="dataList" style="width: 100%"
        border @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" align="center" width="55" />
        <el-table-column align="left" label=" 字典项名称" width="200">
          <template slot-scope="scope">
            {{ scope.row.display_name }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="标识" width="200">
          <template slot-scope="scope">
            {{ scope.row.name }}
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>
        <el-table-column align="left" label="描述">
          <template slot-scope="scope">
            {{ scope.row.description }}
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>
        <el-table-column align="left" label="更新时间" width="200">
          <template slot-scope="scope">
            {{ scope.row.name }}
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>
        <!-- <el-table-column align="left" label="状态" width="150">

          <template slot-scope="scope">
                <el-switch v-model="scope.row.status" active-text="启用" inactive-text="禁用" active-value="1" inactive-value="0" @change="handleStatus(scope.row.page_id, scope.row.page_status)" />
            </template>
      </el-table-column> -->
        <el-table-column align="left" label="操作">
          <template slot-scope="scope">
            <el-button type="primary" plain size="small">
              设置字典项
            </el-button>

            <el-button type="primary" size="small" @click="handleEdit(scope)">
              编辑
            </el-button>
            <el-button type="danger" size="small" @click="handleDelete(scope)">
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- <el-pagination v-show="total>0" :total="total" :current-page="searchForm.pageIndex" :page-sizes="[10, 20, 50, 100]" :page-size="searchForm.pageSize" layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange" @current-change="handleCurrentChange" /> -->

    <el-dialog :visible.sync="dialogVisible" :title="dialogType === 'edit' ? '编辑 字典项' : '新增 字典项'">
      <el-form
        ref="ruleForm" :model="model" label-width="100px"
        :rules="formValiteRule" label-position="right"
      >
        <el-row>
          <el-col :span="12">
            <el-form-item label=" 字典项名称" prop="display_name">
              <el-input
                v-model="model.display_name" placeholder="请输入 字典项名称" clearable
                required
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="唯一标识" prop="name">
              <el-input v-model="model.name" placeholder="请输入唯一标识" clearable />
            </el-form-item>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label=" 字典项状态" prop="status">
                <el-switch v-model="model.status" active-text="启用" inactive-text="禁用" active-value="1" inactive-value="0" @change="handleStatus(scope.row.page_id, scope.row.page_status)" />
            </el-form-item>
          </el-col> -->
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="描述">
              <el-input
                v-model="model.description" clearable :autosize="{ minRows: 2, maxRows: 4 }"
                type="textarea" placeholder="说点什么吧"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align: right">
        <el-button type="primary" @click="_handleSave">
          保存
        </el-button>
        <template v-if="dialogType === 'edit'">
          <el-button type="default" @click="handleReset">
            重置
          </el-button>
        </template>
        <el-button type="default" @click="dialogVisible = false">
          取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';
// import i18n from '@/lang'

const defaultModel = {
  name: '',
  display_name: '',
  description: ''
};

export default {
  name: 'MaxRole', //  字典项管理
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/api/roles',
      keyName: 'id',
      modelName: ' 字典项',
      initModel: defaultModel,
      search_items: {
        name: '',
        display_name: ''
      },
      formValiteRule: {
        display_name: { required: true, message: '不能为空' },
        name: { required: true, message: '不能为空' }
      }
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    this.getList();
  },
  methods: {
    async handleAdd(defaultModel) {
      this.model = Object.assign({}, defaultModel);
      this.dialogType = 'new';
      this.dialogVisible = true;
      this.currentKey = '';
    },
    async handleEdit(scope) {
      this.dialogType = 'edit';
      this.currentKey = scope.row[this.keyName];
      this.model = this.formatModal(defaultModel, scope.row);
      this.dialogVisible = true;
    },
    _handleSave() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleSave();
          // return true
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleReset() {
      this.model = defaultModel;
    }
  }
};
</script>

<style lang="scss" scoped></style>
