<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-10 16:36:33
 * @ Description:  页面管理  控制 admin 路由表
 -->

<template>
  <div class="app_container">
    <div class="app_container_header">
      <header class="app_container_title">
        信息筛选
      </header>
      <div class="app_container_lines" />
      <div class="app_container_search">
        <div class="searchBars" />
        <div class="searchBars" />
      </div>
    </div>
    <div class="app_container_content">
      <header class="app_container_bar">
        <div class="app_container_title">
          数据列表
        </div>
        <div class="app_container_tools">
          <el-button type="primary" @click="handleAdd(initModel)">
            添加页面
          </el-button>
          <el-button type="danger" plain @click="handleDeletes">
            删除
          </el-button>
        </div>
      </header>

      <el-table
        v-loading="loading" :data="dataList" row-key="id"
        :tree-props="{ children: 'subs', hasChildren: 'hasChildren' }" header-row-class-name="app_container_thead" @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" align="center" width="55" />
        <!-- <el-table-column type="selection" align="center" width="55" /> -->
        <el-table-column align="left" label="页面名称" min-width="200px">
          <template slot-scope="scope">
            {{ scope.row.display_name }}
            <!-- <el-input
            v-model="scope.row.name"
            @change="handleChangeListener(scope.row, 'display_name')"
            @blur="handleProperty(scope.row, 'display_name')"
          /> -->
          </template>
        </el-table-column>
        <el-table-column align="left" label="图标" width="50px">
          <template slot-scope="scope">
            <!-- <img v-if="scope.row.page_icon" :src="scope.row.page_icon" class="avatar" style="width: 30px; height: 30px; "> -->
            <!-- <i class="el-icon-s-grid" style="font-size: 28px"></i> -->
            <!-- <svg-icon :icon-class="scope.row.icon" /> -->
            <div class="icon-item">
              <svg-icon :icon-class="scope.row.icon" />
            </div>
          </template>
        </el-table-column>
        <el-table-column align="left" label="标识" width="180px">
          <template slot-scope="scope">
            <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />
          </template>
        </el-table-column>
        <el-table-column align="left" label="设为菜单" width="80px">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.is_menu" :active-value="1" :inactive-value="0"
              @change="handleStatus(scope.row.id, { is_menu: scope.row.is_menu })"
            />
          </template>
        </el-table-column>
        <el-table-column align="left" label="排序" width="120px">
          <template slot-scope="scope">
            <el-input-number
              v-model="scope.row.sort"
              controls-position="right"
              :min="1"
              :max="100"
              style="width: 100%"
              @change="
                scope.row['sort_change'] = true;
                handleProperty(scope.row, 'sort');
              "
            />
          </template>
        </el-table-column>
        <el-table-column align="left" label="备注" show-overflow-tooltip>
          <template slot-scope="scope">
            {{ scope.row.mark }}
          </template>
        </el-table-column>
        <el-table-column align="left" label="是否启用" width="80px">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.status" :active-value="1" :inactive-value="0"
              @change="handleStatus(scope.row.id, { status: scope.row.status })"
            />
          </template>
        </el-table-column>
        <el-table-column align="left" label="操作">
          <template slot-scope="scope">
            <el-button
              plain type="primary" size="small"
              @click="handleEdit(scope)"
            >
              编辑
            </el-button>
            <el-button type="danger" size="small" @click="handleDelete(scope)">
              删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <!-- 编辑框 -->
    <el-dialog :fullscreen="mobileDevice" :visible.sync="dialogVisible" :title="dialogType === 'edit' ? '编辑页面' : '新增页面'">
      <el-form
        ref="ruleForm" :model="model" label-width="100px"
        :rules="formValiteRule" label-position="right"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item label="父级页面">
              <el-cascader
                v-model="pidArray"
                :options="dataList"
                placeholder="请选择父级页面"
                clearable
                :change-on-select="true"
                :props="{
                  value: 'id',
                  label: 'display_name',
                  children: 'subs'
                }"
                style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="页面名称" prop="display_name">
              <el-input v-model="model.display_name" placeholder="请输入页面名称" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="页面标识" prop="name">
              <el-input v-model="model.name" placeholder="请输入页面标识" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="页面图标" prop="icon">
              <el-input v-model="model.icon" readonly placeholder="请选择图标">
                <el-button slot="append" icon="el-icon-search" @click="_select" />
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="8">
            <el-form-item label="设为菜单" prop="is_menu">
              <el-switch v-model="model.is_menu" :active-value="1" :inactive-value="0" />
            </el-form-item>
          </el-col>

          <el-col :span="8">
            <el-form-item label="启用标志" prop="status">
              <el-switch v-model="model.status" :active-value="1" :inactive-value="0" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="排序" prop="sort">
              <el-input-number
                v-model="model.sort" controls-position="right" :min="1"
                :max="100" style="width: 100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="备注" prop="mark">
          <el-input
            v-model="model.mark" :autosize="{ minRows: 2, maxRows: 4 }" type="textarea"
            placeholder=""
          />
        </el-form-item>
      </el-form>
      <div style="text-align: right">
        <el-button type="primary" @click="_handleSave">
          保存
        </el-button>
        <el-button type="danger" @click="handleReset">
          重置
        </el-button>
        <el-button type="default" @click="dialogVisible = false">
          取消
        </el-button>
      </div>
    </el-dialog>

    <!-- 图标选择 -->
    <el-drawer
      title="图标" :visible.sync="drawer" direction="rtl"
      :size="mobileDevice ? '40vw' : '34vw'"
    >
      <IconsPages @_chooseIcon="_chooseIcon" />
    </el-drawer>
  </div>
</template>

<script>
// import request from "@/utils/request";
import baseModel from '@/utils/baseModel';
import IconsPages from '@/components/icons';

const defaultModel = {
  pid: 0,
  name: '',
  icon: '',
  display_name: '',
  is_menu: 1,
  status: 1,
  mark: '',
  sort: 0,
  level_data: []
};

// let module = {}

export default {
  name: 'MaxPage',
  components: {
    IconsPages
  }, // 页面管理
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/api/menus',
      keyName: 'id',
      modelName: '页面',
      initModel: defaultModel,
      uploadUrl: process.env.VUE_APP_BASE_API + '/Upload/File/Saves',
      pidArray: [],
      search_items: {
        name: '',
        display_name: ''
      },
      drawer: false,
      formValiteRule: {
        display_name: { required: true, message: '不能为空' },
        name: { required: true, message: '不能为空' }
      }
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    this.getList();
  },
  methods: {
    // 图标选择回调
    _chooseIcon(item) {
      this.model.icon = item;
      this.drawer = false;
    },
    _select() {
      this.drawer = true;
    },
    getListAfter() {},
    saveBefore() {
      if (this.pidArray.length > 0) {
        this.model.pid = this.pidArray[this.pidArray.length - 1];
      } else {
        this.model.pid = 0;
      }
      this.model.level_data = this.pidArray;
      return this.model;
    },
    addBefore() {
      this.pidArray = [];
    },
    async handleEdit(scope) {
      this.dialogType = 'edit';
      this.currentKey = scope.row[this.keyName];
      this.model = this.formatModal(defaultModel, scope.row);
      // debugger
      this.pidArray = scope.row.level_data || [];
      // debugger
      this.dialogVisible = true;
    },
    handleReset() {
      this.model = defaultModel;
      this.pidArray = [];
    },
    _handleSave() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleSave();
          // return true
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app_container {
  .icon-item {
    height: 30px;
    text-align: center;
    width: 30px;
    // float: left;
    font-size: 30px;
    color: #657586;
    cursor: pointer;
  }
}
</style>
