<!--
 * @Author: your name
 * @Date: 2021-11-30 11:13:39
 * @LastEditTime: 2022-04-11 22:24:00
 * @LastEditors: loserjohn
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \sys\src\views\sys\roleright.vue
-->
<template>
  <div class="app_container">
    <div style="width: 100%">
      <div
        class="el-tag el-tag--medium el-tag--light"
        style="width: 100%; height: 43px; margin-bottom: 6px"
      >
        <span
          class="el-form-item__label"
          style="font-size: 16px; font-weight: bold; margin-left: 10px"
        >{{ parentName }} - 菜单与权限配置</span>
        <el-button
          type="danger"
          plain
          style="float: right; margin-top: 6px"
          @click="_close"
        >
          关闭
        </el-button>
      </div>
      <el-row
        v-if="parentKey"
        :gutter="10"
      >
        <el-col :span="12">
          <el-card
            shadow="hover"
            :body-style="{ padding: '5px' }"
          >
            <MenusModules :parent-key="parentKey" />
          </el-card>
        </el-col>
        <el-col :span="12">
          <el-card
            shadow="hover"
            :body-style="{ padding: '5px' }"
          >
            <AuthsModule :parent-key="parentKey" />
          </el-card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import AuthsModule from './authsmodule';
import MenusModules from './menusmodule';
// const defaultModel = {
//   role_code: '',
//   page_ids: [],
//   role_name: '',
//   operates: {}
// }

export default {
  name: 'MaxRoleRight', // 权限配置
  // mixins: [baseModel],
  components: {
    MenusModules,
    AuthsModule
  },
  data() {
    return {
      parentKey: '',
      parentName: ''
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  async created() {
    // Mock: get all routes and user list from server
    this.parentKey = this.$route.params && this.$route.params.id;
    this.parentName = this.$route.params && this.$route.params.name;
    // await this.getConfig()
    // // console.log(this.config)
    // this.getLang()
    // this.getList();
    // // this.getList2()
    // this.get();
  },
  methods: {
    _close() {
      // this.$store.state.tagsView.visitedViews.splice(
      //   this.$store.state.tagsView.visitedViews.findIndex(
      //     (item) => item.path === this.$route.path
      //   ),
      //   1
      // );
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped></style>
