<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-10 16:34:53
 * @ Description:前台用户管理
 -->

<template>
  <div class="app_container">
    <div class="app_container_header">
      <header class="app_container_title">
        信息筛选
      </header>
      <!-- <div class="app_container_lines" />
      <div class="app_container_search">
        <div class="searchBars">
          <div class="searchBars_fields">
            <div class="searchBars_label">账号名称:</div>
            <el-input
              v-model="search_items.real_name"
              prefix-icon="el-icon-user"
              placeholder="账号名称"
              style="width: 160px"
              clearable
            />
          </div>
          <div class="searchBars_fields">
            <div class="searchBars_label">电话查询:</div>
            <el-input
              v-model="search_items.telephone"
              prefix-icon="el-icon-phone"
              placeholder="电话查询"
              style="width: 160px"
              clearable
            />
          </div>
          <div class="searchBars_fields">
            <div class="searchBars_label">用户状态:</div>
            <el-select
              v-model="searchParams.change_status"
              placeholder="用户状态"
              clearable
            >
              <el-option label="启用" :value="1" />
              <el-option label="禁用" :value="0" />
            </el-select>
          </div>
          <div class="searchBars_fields">
            <div class="searchBars_label">机构:</div>
            <el-select
              v-model="searchParams.change_status"
              placeholder="机构"
              clearable
            >
              <el-option label="启用" :value="1" />
              <el-option label="禁用" :value="0" />
            </el-select>
          </div>
        </div>
        <div class="searchBars">
          <el-button type="primary" plain @click="resetSearch">
            重置
          </el-button>
          <el-button type="primary" @click="handleSearch"> 查询 </el-button>
        </div>
      </div> -->
    </div>
    <div class="app_container_content">
      <header class="app_container_bar">
        <div class="app_container_title">
          数据列表
        </div>
        <div class="app_container_tools">
          <!-- <el-button type="danger" plain @click="handleDeletes">
            删除
          </el-button>
          <el-button type="primary" plain @click="handleAdd(initModel)">
            新增
          </el-button>

          <el-button type="primary" @click="handleSearch"> 导出 </el-button> -->
        </div>
      </header>
      <el-table
        v-loading="loading"
        :data="dataList"
        style="width: 100%"
        header-row-class-name="app_container_thead"
        @selection-change="handleSelectionChange"
      >
        <el-table-column
          type="selection"
          align="center"
          width="55"
          fixed="left"
        />
        <el-table-column
          align="left"
          label="用户名称"
          width="120"
          fixed="left"
        >
          <template slot-scope="scope">
            {{ scope.row.login_name }}
          </template>
        </el-table-column>
        <el-table-column
          align="left"
          label="用户头像"
          width="80"
        >
          <template slot-scope="scope">
            <el-image
              style="width: 40px; height: 40px"
              :src="scope.row.avatar"
              fit="contain "
            />
          </template>
        </el-table-column>
        <el-table-column
          align="left"
          label="联系方式"
          width="120"
        >
          <template slot-scope="scope">
            {{ scope.row.mobile }}
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>
        <el-table-column
          align="left"
          label="创建时间"
          width="150"
        >
          <template slot-scope="scope">
            {{ scope.row.created_at }}
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>
        <el-table-column
          align="left"
          label="单位"
          width="150"
        >
          <template slot-scope="scope">
            {{ scope.row.dept_name }}
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>
        <el-table-column
          align="left"
          label="职务"
        >
          <template slot-scope="scope">
            {{ scope.row.user_role }}

            <!-- <el-tag
              v-for="(item, index) in scope.row.roles"
              :key="index"
              type="success"
            >
              {{ item.display_name }}
            </el-tag> -->
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>

        <el-table-column
          align="left"
          label="状态"
          width="150"
        >
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.status"
              active-text="正常"
              inactive-text="禁用"
              :active-value="1"
              :inactive-value="0"
              @change="handleStatus(scope.row.id, { status: scope.row.status })"
            />
          </template>
        </el-table-column>

        <!-- <el-table-column align="left" label="操作" fixed="right" width="160">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="handleEdit(scope)">
              编辑
            </el-button>
            <el-button type="text" size="small" @click="handleDelete(scope)">
              删除
            </el-button>
          </template>
        </el-table-column> -->
      </el-table>

      <el-pagination
        v-show="total > 0"
        :total="total"
        :current-page="searchParams.page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="searchParams.page_size"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>
    <el-dialog
      :fullscreen="mobileDevice"
      :visible.sync="dialogVisible"
      :title="dialogType === 'edit' ? '编辑用户' : '新增用户'"
    >
      <el-form
        ref="ruleForm"
        :model="model"
        label-width="100px"
        :rules="formValiteRule"
        label-position="right"
      >
        <el-row>
          <el-col :span="12">
            <el-form-item
              label="用户名称"
              prop="real_name"
            >
              <el-input
                v-model="model.real_name"
                placeholder="请输入用户名称"
                clearable
                required
              />
            </el-form-item>
            <!--   </el-col>
          <el-col :span="12"> -->
            <el-form-item
              label="联系电话"
              prop="telephone"
            >
              <el-input
                v-model="model.telephone"
                type="tel"
                placeholder="请输入联系电话"
                clearable
                :maxlength="11"
              />
            </el-form-item>
            <!--  </el-col>
          <el-col :span="12"> -->
            <el-form-item
              label="用户状态"
              prop="status"
            >
              <el-switch
                v-model="model.status"
                active-text="正常"
                inactive-text="禁用"
                :active-value="1"
                :inactive-value="0"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="用户头像">
              <UploadImage ref="avatar" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="登录密码"
              prop="password"
            >
              <el-input
                v-model="model.password"
                type="password"
                placeholder="请输入登录密码"
                clearable
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="角色"
              prop="status"
            >
              <el-select
                v-model="model.roles"
                multiple
                placeholder="请选择"
                style="width: 100%"
              >
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>

          <!-- <el-col :span="24">
            <el-form-item label="描述">
              <el-input
                v-model="model.description"
                clearable
                :autosize="{ minRows: 2, maxRows: 4 }"
                type="textarea"
                placeholder="说点什么吧"
              />
            </el-form-item>
          </el-col> -->
        </el-row>
      </el-form>
      <div style="text-align: right">
        <el-button
          type="primary"
          @click="_handleSave"
        >
          保存
        </el-button>
        <template v-if="dialogType === 'edit'">
          <el-button
            type="default"
            @click="handleReset"
          >
            重置
          </el-button>
        </template>
        <el-button
          type="default"
          @click="dialogVisible = false"
        >
          取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import UploadImage from '@/components/Upload/UploadImage';
import baseModel from '@/utils/baseModel';
import request from '@/utils/request';

const defaultModel = {
  real_name: '',
  telephone: '',
  password: '',
  status: 1,
  roles: [],
  avatar_url: ''
};

export default {
  name: 'MaxRole',
  components: {
    UploadImage
  }, // 用户管理
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/api/users',
      keyName: 'id',
      modelName: '用户',
      initModel: defaultModel,
      search_items: {
        real_name: '',
        telephone: ''
      },
      formValiteRule: {
        real_name: {
          required: true,
          message: '不能为空'
        },
        telephone: {
          required: true,
          message: '不能为空'
        }
      },
      options: [
        // {
        //           value: '选项1',
        //           label: '黄金糕'
        //         }
      ]
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    this._getRoles();
    this.getList();
  },
  methods: {
    async handleAdd(defaultModel) {
      this.model = Object.assign({}, defaultModel);
      this.dialogType = 'new';
      this.dialogVisible = true;
      this.currentKey = '';
      this.$nextTick(() => {
        this.$refs.avatar.setValue('');
      });
    },
    async handleEdit(scope) {
      this.dialogType = 'edit';
      this.currentKey = scope.row[this.keyName];
      const a = {
        ...scope.row
      };
      a.roles = scope.row.roles.map((it) => it.id);
      this.model = this.formatModal(defaultModel, a);

      // debugger
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.avatar.setValue(a.avatar_url);
      });
    },
    _handleSave() {
      if (this.dialogType == 'new' && !this.model.password) {
        this.$message({
          type: 'error',
          message: '新建用户务必输入密码'
        });
        return;
      }
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          console.log(this.model);
          this.handleSave();
          // return true
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    saveBefore() {
      this.model.avatar_url = this.$refs.avatar.getValue();
      return this.formatModal(defaultModel, this.model);
    },
    handleReset() {
      this.model = defaultModel;
    },
    async _getRoles() {
      try {
        const res = await this.__getRoles();
        const arr = res.list && res.list.length > 0 ? res.list : [];
        // debugger
        this.options = arr.map((it) => ({
          label: it.display_name,
          value: it.id
        }));
        // debugger
      } catch (error) {
        console.log(error);
      }
    },
    async __getRoles(data) {
      return request({
        url: '/api/roles',
        method: 'get',
        data
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }

  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
