<!--
 * @Author: your name
 * @Date: 2021-12-03 22:34:50
 * @LastEditTime: 2021-12-04 15:04:03
 * @LastEditors: Please set LastEditors
 * @Description: 用户搜索选择
 * @FilePath: \cfpt-admin\src\components\TagSelect\index.vue
-->
<template>
  <el-select
    v-if="list"
    v-model="val"
    filterable
    remote
    clearable
    :style="customStyle"
    reserve-keyword
    placeholder="请输入用户名称进行搜索"
    :remote-method="_getList"
    :loading="loading"
    @change="_change"
  >
    <el-option
      v-for="item in list"
      :key="item.id"
      :label="item.allname"
      :value="item.id"
    />
  </el-select>
</template>

<script>
import request from '@/utils/request';
const globalstr = localStorage.getItem('dict');
const global = JSON.parse(globalstr);
export default {
  name: 'UserSelect',
  props: {
    multiple: {
      type: Boolean,
      default: false

    },
    customStyle: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      baseUrl: '/api/merchants/maps',
      list: [],
      val: '',
      loading: false,
      groupname: global.user_group ? global.user_group.map((it) => it.label) : []
    };
  },
  created() {
    this._getList();
  },
  // beforeDestroy() {
  //   window.removeEventListener('scroll', this.handleScroll)
  //   if (this.interval) {
  //     clearInterval(this.interval)
  //   }
  // },
  methods: {

    setValue(value) {
      this.val = value;
    },
    _clear() {
      this.val = '';
    },
    _change(e) {
      console.log(e);
      this.$emit('update:value', e);
    },
    async _getList(key) {
      console.log(key);
      this.loading = true;

      const str = key ? `keyword:${key}` : '';
      const p = {
        search: str,
        page_size: 50
      };
      try {
        const res = await request({
          url: '/api/users/simple/index',
          method: 'get',
          params: p
        });

        this.list = res.list.map((it) => {
          it.allname = `${it.telephone}-${it.user_name}-${this.groupname[it.group_id - 1]}`;
          return it;
        });
      } catch (e) {
        console.log(e);
      }
      this.loading = false;
    }
  }
};
</script>

<style scoped lang="scss"></style>
