<template>
  <div class="app-container">
    <div
      v-if="rightCheck('search')"
      style="float: left; margin-bottom: 20px"
    >
      积分来源：<el-input
        v-model="searchForm.integral_source"
        style="width: 200px"
        clearable
      />
      产生时间：<el-date-picker
        v-model="searchForm.start_date"
        type="date"
        style="width: 150px"
        :clearable="false"
      />
      —
      <el-date-picker
        v-model="searchForm.end_date"
        type="date"
        style="width: 150px"
        :clearable="false"
      />
      <el-button
        type="primary"
        @click="handleSearch"
      >
        查询
      </el-button>
    </div>
    <div style="float: right; margin-bottom: 20px" />

    <el-table
      v-loading="loading"
      :data="dataList"
      style="width: 100%; margin-top: 30px"
      border
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        align="center"
        width="55"
      />
      <el-table-column
        align="left"
        label="用户名"
      >
        <template slot-scope="scope">
          {{ scope.row.user_name }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="来源"
      >
        <template slot-scope="scope">
          {{ scope.row.integral_source }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="积分变化"
      >
        <template slot-scope="scope">
          {{ scope.row.integral_change }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="总积分"
      >
        <template slot-scope="scope">
          {{ scope.row.integral_total }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="时间"
      >
        <template slot-scope="scope">
          {{ dateFormat("yyyy-MM-dd hh:mm:ss", scope.row.lintegral_time) }}
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      v-show="total > 0"
      :total="total"
      :current-page="searchForm.pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="searchForm.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
import baseModel from '@/utils/baseModel';
// import i18n from '@/lang'

const defaultModel = {};

export default {
  name: 'MaxIntegral', // 积分明细
  mixins: [baseModel],
  props: {
    userName: {
      type: String,
      default: function() {
        return '';
      }
    }
  },
  data() {
    return {
      baseUrl: '/account/integral',
      keyName: 'integral_detail_code',
      modelName: '积分明细',
      initModel: defaultModel,
      searchForm: {
        integral_source: '',
        start_date: '',
        end_date: '',
        user_name: '',
        pageIndex: 1,
        pageSize: 10
      }
    };
  },
  watch: {
    userName: function(newCode, oldCode) {
      this.getList();
    }
  },
  created() {
    this.searchForm.start_date = this.getFormatDate(-30);
    this.searchForm.end_date = this.getFormatDate(0);
    // Mock: get all routes and user list from server
    this.getConfig();
    this.getLang();
    this.getList();
  },
  methods: {
    setSearchParams() {
      this.searchParams = {
        pageIndex: this.searchForm.pageIndex,
        pageSize: this.searchForm.pageSize
      };
      this.searchParams.integral_source =
        this.searchForm.integral_source.replace(/ /g, '');
      this.searchParams.start_date = this.searchForm.start_date.replace(
        / /g,
        ''
      );
      this.searchParams.end_date = this.searchForm.end_date.replace(
        / /g,
        ''
      );
      this.searchParams.user_name = this.userName;
    }
  }
};
</script>
