<template>
  <div
    class="app-container"
    style="padding: 0px"
  >
    <div
      v-if="rightCheck('search')"
      style="float: left; margin-bottom: 20px"
    >
      <el-select
        v-model="searchForm.keyWord"
        placeholder="请选择"
      >
        <el-option
          key="0"
          label="所有"
          value=""
        />
        <el-option
          key="1"
          label="启用"
          value="1"
        />
        <el-option
          key="2"
          label="禁用"
          value="0"
        />
      </el-select>
      <el-button
        type="primary"
        @click="handleSearch"
      >
        查询
      </el-button>
    </div>
    <div style="float: right; margin-bottom: 20px">
      <el-button
        v-if="rightCheck('insert')"
        type="primary"
        @click="handleCreate"
      >
        添加登录IP
      </el-button>
      <el-button
        v-if="rightCheck('deletes')"
        type="danger"
        @click="handleDeletes"
      >
        删除
      </el-button>
    </div>

    <el-table
      :data="dataList"
      border
      style="width: 100%"
      max-height="400"
      :row-key="keyName"
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        width="55"
        align="center"
      />
      <el-table-column label="起始ip">
        <template slot-scope="{ row }">
          <template v-if="row.edit">
            <el-input
              v-model="row.ip_start"
              class="edit-input"
              size="small"
            />
          </template>
          <span v-else>{{ row.ip_start }}</span>
        </template>
      </el-table-column>
      <el-table-column label="截至ip">
        <template slot-scope="{ row }">
          <template v-if="row.edit">
            <el-input
              v-model="row.ip_end"
              class="edit-input"
              size="small"
            />
          </template>
          <span v-else>{{ row.ip_end }}</span>
        </template>
      </el-table-column>
      <el-table-column label="启用状态">
        <template slot-scope="{ row }">
          <template v-if="row.edit">
            <el-switch
              v-model="row.isuse"
              active-value="1"
              inactive-value="0"
            />
          </template>
          <span v-else>{{ row.isuse === "1" ? "启用" : "禁用" }}</span>
        </template>
      </el-table-column>

      <el-table-column
        align="center"
        label="操作"
        width="180"
      >
        <template slot-scope="{ row }">
          <template v-if="row.edit">
            <el-button
              type="success"
              size="small"
              @click="confirmEdit(row)"
            >
              保存
            </el-button>
            <el-button
              class="cancel-btn"
              size="small"
              type="warning"
              @click="cancelEdit(row)"
            >
              取消
            </el-button>
          </template>
          <template v-else>
            <el-button
              v-if="rightCheck('update')"
              type="primary"
              size="small"
              @click="row.edit = !row.edit"
            >
              编辑
            </el-button>
            <el-button
              v-if="rightCheck('deletes')"
              type="danger"
              size="small"
              @click="handleDeleteRow(row)"
            >
              删除
            </el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      v-show="total > 0"
      :total="total"
      :current-page="searchForm.pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="searchForm.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>
import baseModel from '@/utils/baseModel';
// import i18n from '@/lang'
const defaultModel = {
  user_ip_code: '',
  user_name: '',
  ip_start: '',
  ip_end: '',
  isuse: '1',
  create_user: '',
  create_time: ''
};

export default {
  name: 'MaxIp', // IP管理
  mixins: [baseModel],
  props: {
    // 该属性是确认父组件传过来的数据是否已经是树形结构了，如果是，则不需要进行树形格式化
    parentCode: {
      type: String,
      default: function () {
        return '';
      }
    }
  },
  data() {
    return {
      baseUrl: '/account/iplimit',
      keyName: 'user_ip_code',
      modelName: 'IP管理',
      initModel: defaultModel,
      searchForm: {
        type: 'user_ip_code',
        keyWord: '',
        pageIndex: 1,
        pageSize: 10
      },
      searchItem: []
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  watch: {
    // 如果 `question` 发生改变，这个函数就会运行
    parentCode: function (newCode, oldCode) {
      this.getList();
    }
  },
  created() {
    this.getConfig();
    this.getLang();
    this.getList();
  },
  methods: {
    setSearchParams() {
      this.searchParams = {
        pageIndex: this.searchForm.pageIndex,
        pageSize: this.searchForm.pageSize
      };
      this.searchParams.isuse = this.searchForm.keyWord;
      this.searchParams.user_name = this.parentCode;
    },
    async handleCreate() {
      const newModel = {
        user_ip_code: '',
        user_name: '',
        ip_start: '',
        ip_end: '',
        isuse: '1',
        create_user: '',
        create_time: ''
      };
      newModel.user_name = this.parentCode;
      newModel.item_ordernum = this.dataList.length + 1;
      newModel[this.keyName] = this.guid();
      newModel.edit = true;
      this.dataList.push(newModel);
      this.total = this.total++;
    },
    async getList() {
      this.loading = true;
      this.setSearchParams();
      const res = await this.__getList(this.searchParams);
      this.dataList = res.data.rows;
      this.total = res.data.total;

      this.dataList = this.dataList.map((v) => {
        this.$set(v, 'edit', false);
        for (const name in v) {
          if (name !== 'edit' && name.indexOf('original_') < 0) {
            v['original_' + name] = v[name];
          }
        }
        return v;
      });

      this.loading = false;
    },
    cancelEdit(row) {
      for (const name in row) {
        if (name !== 'edit' && name.indexOf('original_') < 0) {
          row[name] = row['original_' + name];
        }
      }
      row.edit = false;
      if (!row[this.keyName]) {
        this.dataList.pop();
        this.total = this.total--;
      }
    },
    async confirmEdit(row) {
      row.edit = false;
      const res = await this.__update(row[this.keyName], row);
      if (res.result === 1) {
        this.$message({
          type: 'success',
          message: '保存成功!'
        });
        for (const name in row) {
          if (name !== 'edit' && name.indexOf('original_') < 0) {
            row['original_' + name] = row[name];
          }
        }
      } else if (res.result === -1) {
        var infoEdit = '';
        res.data.forEach(function (item) {
          infoEdit += item.result + '<br/>';
        });
        this.$message({
          type: 'error',
          dangerouslyUseHTMLString: true,
          message: '验证失败：<br/>' + infoEdit
        });
      } else {
        this.$message({
          type: 'error',
          message: '保存失败' + res.msg
        });
      }
    },
    async handleDeleteRow(row) {
      this.$confirm('确定要删除该' + this.modelName + '信息吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(async () => {
          const res = await this.__deletes(row[this.keyName]);
          if (res.result === 1) {
            this.$message({
              type: 'success',
              message: '删除成功!'
            });
            this.getList();
          } else {
            this.$message({
              type: 'error',
              message: '删除失败：' + res.msg
            });
          }
        })
        ['catch']((err) => {
          console.error(err);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
.el-input-number {
  width: 100px;
}
</style>
