<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-30 11:13:38
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-03 14:30:14
 * @ Description:密码编辑
 -->

<template>
  <div class="app-container">
    <el-form
      ref="ruleForm"
      :model="model"
      label-width="100px"
      :rules="formValiteRule"
      label-position="right"
    >
      <el-row>
        <el-col
          :span="8"
          :offset="8"
        >
          <el-row>
            <el-col :span="24">
              <el-form-item label="原始密码">
                <el-input
                  v-model="model.user_password_old"
                  type="password"
                  autocomplete="off"
                  placeholder="请输入原始密码"
                />
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="新密码">
                <el-input
                  v-model="model.user_password_new"
                  type="password"
                  autocomplete="off"
                  placeholder="请输入新密码"
                />
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="确认密码">
                <el-input
                  v-model="model.user_password_check"
                  type="password"
                  autocomplete="off"
                  placeholder="请输入确认密码"
                />
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-form>
    <div style="text-align: center">
      <el-button
        v-if="rightCheck('change')"
        type="primary"
        @click="handleChange"
      >
        保存
      </el-button>
      <el-button
        type="default"
        @click="handleReset"
      >
        重置
      </el-button>
      <el-button
        type="default"
        @click="dialogVisible = false"
      >
        取消
      </el-button>
    </div>
  </div>
</template>

<script>
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';

const defaultModel = {
  user_name: '',
  user_password_old: '',
  user_password_new: '',
  user_password_check: ''
};

export default {
  name: 'MaxPwd', // 密码编辑
  mixins: [baseModel],
  data() {
    return {
      toParentKey: '',
      baseUrl: '/account/password',
      keyName: 'user_name',
      modelName: '密码编辑',
      initModel: defaultModel
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    this.model = this.initModel;
    // this.getConfig()
  },
  methods: {
    handleReset() {
      this.model = {
        user_name: '',
        user_password_old: '',
        user_password_new: '',
        user_password_check: ''
      };
    },
    async handleChange() {
      this.$confirm('确定要编辑密码吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(async () => {
          // const loading = this.$loading(this.loadConfig)
          const res = await this.__pwdchange(this.initModel);
          if (res.result === 1) {
            this.$message({
              type: 'success',
              message: '密码编辑成功!'
            });
            this.handleReset();
          }
          // this.$nextTick(() => {
          //   loading.close()
          // })
        })
        ['catch']((err) => {
          console.error(err);
        });
    },
    async __pwdchange(data) {
      return request({
        url: this.baseUrl + '/change',
        method: 'post',
        data
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
