<template>
  <div class="app-container">
    <el-container>
      <el-aside
        width="200px"
        style="padding: 0px; background-color: #ffffff"
      >
        <el-card class="box-card">
          <div
            slot="header"
            class="clearfix"
            style="margin: -7px 0px"
          >
            <span
              style="font-weight: bolder"
            >组织结构<el-button
              icon="el-icon-refresh"
              size="mini"
              circle
              style="float: right"
              @click="getConfig()"
            /></span>
          </div>
          <el-tree
            :data="config.orgsTree"
            :props="orgsTreeProps"
            :expand-on-click-node="false"
            default-expand-all
            @node-click="handleTreeNodeClick"
          />
        </el-card>
      </el-aside>
      <el-main style="padding-top: 0px">
        <div
          v-if="rightCheck('search')"
          style="float: left; margin-bottom: 20px"
        >
          <el-select
            v-model="searchForm.type"
            placeholder="请选择"
          >
            <el-option
              v-for="item in searchItem"
              :key="item.value"
              :label="item.text"
              :value="item.value"
            />
          </el-select>
          <el-input
            v-model="searchForm.keyWord"
            style="width: 200px"
            clearable
          />
          <el-button
            type="primary"
            @click="handleSearch"
          >
            查询
          </el-button>
        </div>
        <div style="float: right; margin-bottom: 20px">
          <el-button
            v-if="rightCheck('insert')"
            type="primary"
            @click="handleAdd(initModel)"
          >
            添加用户
          </el-button>
          <el-button
            v-if="rightCheck('deletes')"
            type="danger"
            @click="handleDeletes"
          >
            删除
          </el-button>
        </div>

        <div style="float: left; width: 100%; margin-bottom: 20px">
          <el-breadcrumb separator=":">
            <el-breadcrumb-item>当前单位</el-breadcrumb-item>
            <el-breadcrumb-item>
              <strong>{{ selectTreeLabel }}</strong>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>

        <el-table
          v-loading="loading"
          :data="dataList"
          style="width: 100%; margin-top: 30px"
          border
          @selection-change="handleSelectionChange"
        >
          <el-table-column
            type="selection"
            align="center"
            width="55"
          />
          <el-table-column
            align="left"
            label="头像"
            width="50px"
          >
            <template slot-scope="scope">
              <img
                v-if="scope.row.user_photo"
                :src="scope.row.user_photo"
                class="avatar"
                style="width: 30px; height: 30px"
              >
            </template>
          </el-table-column>
          <el-table-column
            align="left"
            label="用户名"
          >
            <template slot-scope="scope">
              {{ scope.row.user_name }}
            </template>
          </el-table-column>
          <el-table-column
            align="left"
            label="姓名"
            width="160"
          >
            <template slot-scope="scope">
              {{ scope.row.user_full_name }}
            </template>
          </el-table-column>
          <el-table-column
            align="left"
            label="用户类型"
          >
            <template slot-scope="scope">
              {{ scope.row.user_type }}
            </template>
          </el-table-column>
          <el-table-column
            align="left"
            label="所属单位"
            width="300"
          >
            <template slot-scope="scope">
              {{ scope.row.user_unit }}
            </template>
          </el-table-column>
          <el-table-column
            align="left"
            label="职务"
          >
            <template slot-scope="scope">
              <el-popover
                placement="right-start"
                title="详细职务"
                width="300"
                trigger="hover"
                @show="showPostDetail(scope)"
              >
                <ul style="padding: 10px; list-style: none">
                  <li
                    v-for="(item, index) in postDetail"
                    :key="index"
                  >
                    {{ item }}
                  </li>
                </ul>
                <el-button
                  slot="reference"
                  type="text"
                >
                  {{ scope.row.user_post }}
                </el-button>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column
            align="left"
            label="状态"
          >
            <template slot-scope="scope">
              {{ scope.row.user_status }}
            </template>
          </el-table-column>
          <el-table-column
            v-if="rightCheck('integral')"
            align="left"
            label="积分"
          >
            <template slot-scope="scope">
              <el-button
                type="text"
                size="small"
                @click="handleIntegral(scope)"
              >
                {{ scope.row.integral_total }}
              </el-button>
            </template>
          </el-table-column>
          <el-table-column
            align="left"
            label="操作"
            width="230"
          >
            <template slot-scope="scope">
              <router-link
                v-if="rightCheck('userrole')"
                :to="'/account/userrole/' + scope.row.user_name"
              >
                <el-button
                  type="success"
                  size="small"
                >
                  角色授权
                </el-button>
              </router-link>
              <el-button
                v-if="rightCheck('update')"
                type="primary"
                size="small"
                @click="handleEdit(scope)"
              >
                编辑
              </el-button>
              <el-dropdown style="margin-left: 10px">
                <el-button type="text">
                  更多 <i class="el-icon-arrow-down el-icon--right" />
                </el-button>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item v-if="rightCheck('iplimit')">
                    <el-button
                      type="text"
                      size="small"
                      @click="handleItems(scope)"
                    >
                      登录IP管理
                    </el-button>
                  </el-dropdown-item>
                  <el-dropdown-item v-if="rightCheck('pwdreset')">
                    <el-button
                      type="text"
                      size="small"
                      @click="handlePwdReset(scope)"
                    >
                      密码重置
                    </el-button>
                  </el-dropdown-item>
                  <el-dropdown-item v-if="rightCheck('deletes')">
                    <el-button
                      type="text"
                      size="small"
                      @click="handleDelete(scope)"
                    >
                      删除
                    </el-button>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>
          </el-table-column>
        </el-table>

        <el-pagination
          v-show="total > 0"
          :total="total"
          :current-page="searchForm.pageIndex"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="searchForm.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </el-main>
    </el-container>

    <el-dialog
      :visible.sync="dialogVisible"
      :title="dialogType === 'edit' ? '编辑用户' : '新增用户'"
    >
      <el-form
        ref="ruleForm"
        :model="model"
        label-width="100px"
        :rules="formValiteRule"
        label-position="right"
      >
        <el-row>
          <el-col :span="12">
            <el-row>
              <el-col :span="24">
                <el-form-item
                  label="用户名"
                  prop="user_name"
                  :inline-message="true"
                >
                  <template v-if="dialogType === 'edit'">
                    <span>{{ model.user_name }}</span>
                  </template>
                  <template v-else>
                    <el-input
                      v-model="model.user_name"
                      placeholder="请输入用户名"
                    />
                  </template>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item
                  label="姓名"
                  prop="user_full_name"
                  :inline-message="true"
                >
                  <el-input
                    v-model="model.user_full_name"
                    placeholder="请输入姓名"
                  />
                </el-form-item>
              </el-col>
              <!-- <el-col :span="24">
                <el-form-item label="身份证号码" prop="user_idcard" :inline-message="true">
                  <el-input v-model="model.user_idcard" placeholder="请输入身份证号码" />
                </el-form-item>
              </el-col> -->
            </el-row>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label="头像" prop="user_photo">
              <upload-image v-if="config.setting" ref="user_photo" :setting="config.setting" :upload-url="uploadUrl" label="照片" />
            </el-form-item>
          </el-col> -->
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="用户单位"
              prop="user_units"
            >
              <el-cascader
                v-model="model.user_units"
                :options="config.orgs"
                placeholder="请选择用户单位"
                clearable
                :change-on-select="true"
                style="width: 95%"
                @change="changeUserUnits"
              />
              <el-button
                icon="el-icon-refresh"
                size="mini"
                circle
                style="float: right"
                @click="getConfig()"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="职务"
              prop="user_posts"
            >
              <el-select
                v-model="model.user_posts"
                multiple
                placeholder="请选择"
                style="width: 95%"
              >
                <el-option
                  v-for="item in user_posts"
                  :key="item.value"
                  :label="item.text"
                  :value="item.value"
                />
              </el-select>
              <el-button
                icon="el-icon-refresh"
                size="mini"
                circle
                style="float: right"
                @click="changeUserUnits()"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item
              label="用户类型"
              prop="user_type"
            >
              <el-select
                v-model="model.user_type"
                placeholder="请选择用户类型"
              >
                <el-option
                  v-for="item in config.userType"
                  :key="item.value"
                  :label="item.text"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <!--  <el-col :span="12">
            <el-form-item label="手机" prop="user_moblie">
              <el-input v-model="model.user_moblie" placeholder="请输入手机" />
            </el-form-item>
          </el-col> -->
        </el-row>
        <el-row>
          <!-- <el-col :span="12">
            <el-form-item label="邮箱" prop="user_mail">
              <el-input v-model="model.user_mail" placeholder="请输入邮箱" />
            </el-form-item>
          </el-col> -->
          <el-col :span="12">
            <el-form-item
              label="账户状态"
              prop="user_status"
            >
              <el-select
                v-model="model.user_status"
                placeholder="请选择账户状态"
              >
                <el-option
                  v-for="item in config.accountStatus"
                  :key="item.value"
                  :label="item.text"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="公海上线"
              prop="user_count"
            >
              <el-input-number
                v-model="model.user_count"
                class="blockBtn"
                size="small"
                :min="0"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item
          label="备注"
          prop="user_remark"
        >
          <el-input
            v-model="model.user_remark"
            :autosize="{ minRows: 2, maxRows: 4 }"
            type="textarea"
            placeholder=""
          />
        </el-form-item>
      </el-form>
      <div style="text-align: right">
        <el-button
          v-if="rightCheck('insert,update')"
          type="primary"
          @click="handleSave"
        >
          保存
        </el-button>
        <template v-if="dialogType === 'edit'">
          <el-button
            v-if="rightCheck('insert,update')"
            type="default"
            @click="handleReset"
          >
            重置
          </el-button>
        </template>
        <el-button
          type="default"
          @click="dialogVisible = false"
        >
          取消
        </el-button>
      </div>
    </el-dialog>

    <el-dialog
      :visible.sync="itemsDialogVisible"
      :title="'【' + itemsTitle + '】IP管理'"
      width="80%"
    >
      <ip-limit :parent-code="toParentKey" />
    </el-dialog>

    <el-dialog
      :visible.sync="integralDialogVisible"
      :title="'【' + integralDialogTitle + '】积分明细'"
      width="80%"
    >
      <integral :user-name="integralUser" />
    </el-dialog>
  </div>
</template>

<script>
import path from 'path';
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';
// import UploadImage from '@/components/Upload/UploadImage'
import IpLimit from './iplimit.vue';
import Integral from './integral.vue';
// import i18n from '@/lang'

const defaultModel = {
  user_id: '',
  user_name: '',
  user_full_name: '',
  user_photo: '',
  user_pwd: '',
  user_type: '4',
  user_units: [],
  user_moblie: '',
  user_mail: '',
  user_wrong_time: null,
  user_wrong_times: null,
  user_status: '0',
  user_remark: '',
  user_this_time: null,
  user_last_time: null,
  user_home: '',
  user_idcard: '',
  user_online: 0,
  user_posts: [],
  user_count: 20
};

export default {
  name: 'MaxUser', // 用户管理
  components: {
    IpLimit,
    // UploadImage,
    Integral
  },
  mixins: [baseModel],
  data() {
    return {
      integralDialogTitle: '',
      integralDialogVisible: false,
      itemsDialogVisible: false,
      itemsTitle: '登录IP管理',
      toParentKey: '',
      integralUser: '',
      baseUrl: '/account/user',
      keyName: 'user_name',
      modelName: '用户',
      initModel: defaultModel,
      uploadUrl: process.env.VUE_APP_BASE_API + '/Upload/File/Saves',
      orgsTreeProps: {
        children: 'children',
        label: 'label'
      },
      selectTreeId: '',
      selectTreeLabel: '全部',
      searchForm: {
        type: 'user_name',
        keyWord: '',
        pageIndex: 1,
        pageSize: 10
      },
      searchItem: [
        {
          value: 'user_name',
          text: '用户名'
        },
        {
          value: 'user_idcard',
          text: '身份证号码'
        },
        {
          value: 'user_full_name',
          text: '姓名'
        }
      ],
      user_posts: [],
      postDetail: ['加载中...'],
      postDetailCache: {}
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    // Mock: get all routes and user list from server
    this.getConfig();
    this.getLang();
    this.getList();
  },
  methods: {
    async handleIntegral(scope) {
      this.integralDialogTitle = scope.row.user_full_name;
      this.integralDialogVisible = true;
      this.integralUser = scope.row.user_name;
    },
    async handleItems(scope) {
      this.itemsTitle = scope.row.user_full_name;
      this.itemsDialogVisible = true;
      this.toParentKey = scope.row.user_name;
    },
    async handleAdd(defaultModel) {
      this.model = Object.assign({}, defaultModel);
      this.dialogType = 'new';
      this.dialogVisible = true;
      this.currentKey = '';
      if (this.$refs.user_photo) {this.$refs.user_photo.setValue('');}
    },
    getAfter() {
      if (this.currentKey) {
        if (this.$refs.user_photo) {
          this.$refs.user_photo.setValue(this.model.user_photo);
        }
        this.changeUserUnits();
      } else {
        if (this.$refs.user_photo) {this.$refs.user_photo.setValue('');}
      }
    },
    saveBefore() {
      this.model.user_photo = this.$refs.user_photo.getValue();
    },
    setSearchParams() {
      this.searchParams = {
        pageIndex: this.searchForm.pageIndex,
        pageSize: this.searchForm.pageSize
      };
      this.searchParams[this.searchForm.type] = this.searchForm.keyWord.replace(
        / /g,
        ''
      );
      this.searchParams.user_unit = this.selectTreeId;
    },
    handleTreeNodeClick(data) {
      this.selectTreeId = data.id;
      this.selectTreeLabel = data.label;
      this.getList();
    },
    async handlePwdReset(scope) {
      this.$confirm('确定要重置该用户的密码吗?', '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(async () => {
          // const loading = this.$loading(this.loadConfig)
          const res = await this.__pwdreset(scope.row[this.keyName]);
          if (res.result === 1) {
            this.$message({
              type: 'success',
              message: '密码编辑成功!'
            });
          } else {
            this.$message({
              type: 'error',
              message: '密码编辑失败：' + res.msg
            });
          }
          // this.$nextTick(() => {
          //   loading.close()
          // })
        })
        ['catch']((err) => {
          console.error(err);
        });
    },
    async changeUserUnits(data) {
      if (this.model.user_units.length > 0) {
        var id = this.model.user_units[this.model.user_units.length - 1];
        const res = await this.__getpost(id);
        if (res.result === 1) {
          this.user_posts = res.data;
          if (data !== undefined) {
            this.model.user_posts = [];
          }
        }
      }
    },
    async showPostDetail(scope) {
      this.postDetail = ['加载中...'];
      if (this.postDetailCache[scope.row.user_name]) {
        this.postDetail = this.postDetailCache[scope.row.user_name];
      } else {
        const res = await this.__posts(scope.row.user_name);
        if (res.result === 1) {
          this.postDetail = res.data;
          this.postDetailCache[scope.row.user_name] = res.data;
        }
      }
    },
    async __posts(id) {
      return request({
        url: this.baseUrl + `/posts/?id=${id}`,
        method: 'get'
      });
    },
    async __pwdreset(id) {
      return request({
        url: this.baseUrl + `/pwdreset/?id=${id}`,
        method: 'get'
      });
    },
    async __getpost(id) {
      return request({
        url: this.baseUrl + `/getpost/?id=${id}`,
        method: 'get'
      });
    },
    // reference: src/view/layout/components/Sidebar/SidebarItem.vue
    onlyOneShowingChild(children = [], parent) {
      let onlyOneChild = null;
      const showingChildren = children.filter((item) => !item.hidden);

      // When there is only one child route, the child route is displayed by default
      if (showingChildren.length === 1) {
        onlyOneChild = showingChildren[0];
        onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path);
        return onlyOneChild;
      }

      // Show parent if there are no child route to display
      if (showingChildren.length === 0) {
        onlyOneChild = { ...parent, path: '', noShowingChildren: true };
        return onlyOneChild;
      }

      return false;
    },
    async __insert(data) {
      return request({
        url: this.baseUrl + '/crmInsert',
        method: 'post',
        data
      });
    },
    async __update(id, data) {
      return request({
        url: this.baseUrl + `/crmupdate/?id=${id}`,
        method: 'post',
        data
      });
    },
    async __deletes(ids) {
      return request({
        url: this.baseUrl + `/crmdeletes/?ids=${ids}`,
        method: 'get'
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }
}
</style>
