<template>
  <div class="app-container">
    <div style="width:100%; margin-bottom:35px;">
      <el-row>
        <el-col :span="24">
          <div
            class="el-tag el-tag--medium el-tag--light"
            style="float:left; margin-bottom:20px; width:100%; height:43px; "
          >
            <span
              class="el-form-item__label"
              style="font-size:16px; font-weight:bold; margin-left:10px;"
            >【{{ config.user_full_name }}】系统角色授权</span>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-collapse v-model="sysCodes">
            <el-collapse-item
              v-for="(sys, index) in config.roles"
              :key="index"
              :name="sys.sys_code"
            >
              <template slot="title">
                <i
                  class="header-icon el-icon-setting"
                  style="margin-right:5px; font-size:20px;"
                />
                <span style="font-weight:800; font-size:16px;">{{ sys.sys_name }}</span>
                <el-tag
                  size="mini"
                  style="margin-left:10px;"
                >
                  {{ sys.system_roles.length }}
                </el-tag>
              </template>
              <el-checkbox-group v-model="roleCache">
                <el-checkbox
                  v-for="role in sys.system_roles"
                  :key="role.role_code"
                  :label="role.role_code"
                  style="width:100%; margin-left:20px;"
                >
                  {{ role.role_name }}
                </el-checkbox>
              </el-checkbox-group>
            </el-collapse-item>
          </el-collapse>
        </el-col>
      </el-row>
      <el-row style="width:100%; position: fixed; bottom:0px; right:0px; padding-bottom:10px; background-color: #ffffff; z-index:100;">
        <el-col :span="24">
          <div style="text-align:center;">
            <el-button
              v-if="rightCheck('save')"
              type="primary"
              @click="handleSave"
            >
              保存
            </el-button>
            <el-button
              type="default"
              @click="handleReset"
            >
              重置
            </el-button>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';
import defaultSettings from '@/settings';
const { authOnlyCurrentCode, code } = defaultSettings;

const defaultModel = {
  role_code: '',
  user_names: []
};

export default {
  name: 'MaxRoleUser', // 角色用户分配
  mixins: [baseModel],
  data() {
    return {
      sysCode: 'Max',
      sysCodes: [],
      roleCache: [],
      roleSys: {},
      authOnlyCurrent: false,
      baseUrl: '/account/userrole',
      keyName: 'ur_code',
      modelName: '系统角色授权',
      parentKey: '',
      initModel: defaultModel,
      user_names: []
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  async created() {
    this.parentKey = this.$route.params && this.$route.params.id;
    this.authOnlyCurrent = authOnlyCurrentCode;
    this.sysCode = authOnlyCurrentCode ? code : '';
    await this.getConfig();
    this.getLang();
    this.get();

    this.roleSys = {};
    for (let i = 0; i < this.config.roles.length; i++) {
      this.sysCodes.push(this.config.roles[i].sys_code);
      for (let j = 0; j < this.config.roles[i].system_roles.length; j++) {
        this.roleSys[this.config.roles[i].system_roles[j].role_code] = this.config.roles[i].sys_code;
      }
    }
  },
  methods: {
    get() {
      this.handleReset();
    },
    async handleReset() {
      // this.model.role_code = this.$route.params && this.$route.params.id
      const resModel = await this.__get(this.parentKey);
      this.roleCache = resModel.data;
    },
    async handleSave() {
      this.model.user_name = this.parentKey;
      this.model.system_roles = [];
      this.model.sys_codes = [];

      for (let i = 0; i < this.roleCache.length; i++) {
        this.model.system_roles.push({
          role_code: this.roleCache[i],
          sys_code: this.roleSys[this.roleCache[i]]
        });
      }

      if (authOnlyCurrentCode) {
        this.model.sys_codes.push(code);
      } else {
        for (let i = 0; i < this.config.roles.length; i++) {
          this.model.sys_codes.push(this.config.roles[i].sys_code);
        }
      }

      const res = await this.__save(this.model);
      if (res.result === 1) {
        this.$message({
          type: 'success',
          message: '保存成功!'
        });
      } else {
        this.$message({
          type: 'error',
          message: '保存失败：' + res.msg
        });
      }
    },
    async __config() {
      return request({
        url: this.baseUrl + `/config/?user_name=${this.parentKey}&sys_code=${this.sysCode}`,
        method: 'get'
      });
    },
    async __get(id) {
      return request({
        url: this.baseUrl + `/get/?id=${id}&sys_code=${this.sysCode}`,
        method: 'get'
      });
    },
    async __save(data) {
      return request({
        url: this.baseUrl + '/save',
        method: 'post',
        data
      });
    }
  }
};
</script>

<style>
.el-transfer-panel {
  width: 40%;
}
.el-transfer-panel__item {
  width: 90%;
}
.el-transfer-panel__body {
  height: auto;
}
</style>
