<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-10 16:34:53
 * @ Description:机构管理
 -->

<template>
  <div class="app_container">
    <div class="app_container_header">
      <header class="app_container_title">
        信息筛选
      </header>
      <div class="app_container_lines" />
      <div class="app_container_search">
        <div class="searchBars">
          <div class="searchBars_fields">
            <div class="searchBars_label">
              更新时间:
            </div>
            <el-date-picker
              v-model="search_items.created_at"
              type="daterange"
              placeholder="请选择起始日期"
              style="width: 300px"
            />
          </div>
          <div class="searchBars_fields">
            <div class="searchBars_label">
              机构名称:
            </div>
            <el-input
              v-model="search_items.real_name"
              prefix-icon="el-icon-user"
              placeholder="机构名称"
              style="width: 160px"
              clearable
            />
          </div>

          <div class="searchBars_fields">
            <div class="searchBars_label">
              机构类型:
            </div>
            <el-select
              v-model="search_items.status"
              placeholder="机构状态"
              clearable
              style="width: 160px"
            >
              <el-option
                label="已提现"
                :value="1"
              />
              <el-option
                label="未提现"
                :value="0"
              />
            </el-select>
          </div>
          <div class="searchBars_fields">
            <div class="searchBars_label">
              父级类型:
            </div>
            <el-select
              v-model="search_items.status"
              placeholder="机构状态"
              clearable
              style="width: 160px"
            >
              <el-option
                label="已提现"
                :value="1"
              />
              <el-option
                label="未提现"
                :value="0"
              />
            </el-select>
          </div>

          <div class="searchBars_fields">
            <div class="searchBars_label">
              所属区县 :
            </div>
            <el-input
              v-model="search_items.real_name"
              prefix-icon="el-icon-user"
              placeholder="机构地址"
              style="width: 160px"
              clearable
            />
          </div>
        </div>
        <div class="searchBars">
          <el-button
            type="primary"
            plain
            @click="resetSearch"
          >
            重置
          </el-button>
          <el-button
            type="primary"
            @click="handleSearch"
          >
            查询
          </el-button>
        </div>
      </div>
    </div>

    <div class="app_container_content">
      <header class="app_container_bar">
        <div class="app_container_title">
          数据列表
        </div>
        <div class="app_container_tools">
          <el-button
            type="danger"
            plain
            @click="resetSearch"
          >
            删除
          </el-button>
          <el-button
            type="primary"
            plain
            @click="handleAdd"
          >
            新增
          </el-button>

          <el-button
            type="primary"
            @click="handleSearch"
          >
            导出
          </el-button>
        </div>
      </header>

      <el-table
        v-loading="loading"
        :data="dataList"
        style="width: 100%"
        header-row-class-name="app_container_thead"
        @selection-change="handleSelectionChange"
      >
        <el-table-column
          type="index"
          label="序号"
          fixed="left"
        />
        <el-table-column
          align="left"
          label="机构名称"
          width="120"
          prop="name"
        />
        <el-table-column
          align="left"
          label="机构类型"
        >
          <template slot-scope="scope">
            {{ scope.row.type | gift_type_filter }}
          </template>
        </el-table-column>

        <el-table-column
          align="left"
          label="机构类型"
          width="150"
        >
          <template slot-scope="scope">
            {{ scope.row.num }}
            <!-- <el-input v-model="scope.row.name" @change="handleChangeListener(scope.row, 'name')" @blur="handleProperty(scope.row, 'name')" />           -->
          </template>
        </el-table-column>
        <el-table-column
          align="left"
          label="父级机构"
          width="150"
        >
          <template slot-scope="scope">
            {{ scope.row.num }}
          </template>
        </el-table-column>
        <el-table-column
          align="left"
          label="所属区域"
          width="150"
          prop="created_at"
        />
        <el-table-column
          align="left"
          label="备注"
          width="150"
          prop="created_at"
        />
        <el-table-column
          align="left"
          label="更新时间"
          width="150"
          prop="created_at"
        />

        <el-table-column
          align="left"
          label="操作"
          fixed="right"
          width="80"
        >
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="handleEdit(scope)"
            >
              编辑
            </el-button>
          </template>
        </el-table-column>
      </el-table>

      <el-pagination
        v-show="total > 0"
        :total="total"
        :current-page="searchParams.page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="searchParams.page_size"
        layout="total, sizes, prev, pager, next, jumper"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
      />
    </div>

    <el-dialog
      :fullscreen="mobileDevice"
      :visible.sync="dialogVisible"
      :title="dialogType === 'edit' ? '编辑机构' : '新增机构'"
    >
      <el-form
        ref="ruleForm"
        :model="model"
        label-width="100px"
        :rules="formValiteRule"
        label-position="right"
      >
        <el-row>
          <el-col :span="8">
            <el-form-item
              label="更新时间"
              prop="name"
            >
              <el-date-picker
                v-model="model.created_at"
                type="date"
                placeholder="请选择起始日期"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item
              label="机构名称"
              prop="name"
            >
              <el-input
                v-model="model.name"
                placeholder="请输入机构名称"
                clearable
                required
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item
              label="机构类型"
              prop="name"
            >
              <el-select
                v-model="model.status"
                placeholder="机构类型"
                clearable
              >
                <el-option
                  label="已提现"
                  :value="1"
                />
                <el-option
                  label="未提现"
                  :value="0"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item
              label="所属区域"
              prop="status"
            >
              <el-select
                v-model="model.status"
                placeholder="所属区域"
                clearable
              >
                <el-option
                  label="已提现"
                  :value="1"
                />
                <el-option
                  label="未提现"
                  :value="0"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item
              label="父级机构"
              prop="status"
            >
              <el-select
                v-model="search_items.status"
                placeholder="父级机构"
                clearable
              >
                <el-option
                  label="已提现"
                  :value="1"
                />
                <el-option
                  label="未提现"
                  :value="0"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item
              label="备注"
              prop="use_type"
            >
              <el-input
                v-model="model.textarea"
                type="textarea"
                :rows="2"
                placeholder="请输入内容"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align: right">
        <el-button
          type="primary"
          @click="_handleSave"
        >
          保存
        </el-button>
        <template v-if="dialogType === 'edit'">
          <el-button
            type="default"
            @click="handleReset"
          >
            重置
          </el-button>
        </template>
        <el-button
          type="default"
          @click="dialogVisible = false"
        >
          取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';

const defaultModel = {
  name: '',
  type: 1,
  num: 1,
  status: 1,
  img_url: '',
  use_type: 1
};

export default {
  name: 'MaxRole',
  components: {}, // 机构管理
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/api/gifts',
      keyName: 'id',
      modelName: '机构',
      initModel: defaultModel,
      search_items: {},
      formValiteRule: {
        name: {
          required: true,
          message: '不能为空'
        },
        num: {
          required: true,
          message: '不能为空'
        }
      },
      options: [
        // {
        //           value: '选项1',
        //           label: '黄金糕'
        //         }
      ]
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    // this._getRoles();
    this.getList();
  },
  methods: {
    async handleAdd(defaultModel) {
      this.model = Object.assign({}, defaultModel);
      this.dialogType = 'new';

      this.dialogVisible = true;
      this.currentKey = '';
      this.$nextTick(() => {
        this.$refs.avatar.setValue('');
      });
    },
    async handleEdit(scope) {
      this.dialogType = 'edit';
      this.currentKey = scope.row[this.keyName];

      const a = {
        ...scope.row
      };
      // a.roles = scope.row.roles.map((it) => it.id);
      // this.model = this.formatModal(defaultModel, a);
      this.model = a;

      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.avatar.setValue(a.img_url);
      });
    },
    _handleSave() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          console.log(this.model);
          this.handleSave();
          // return true
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    saveBefore() {
      this.model.img_url = this.$refs.avatar.getValue();
      // debugger
      return this.formatModal(defaultModel, this.model);
    },
    handleReset() {
      this.model = defaultModel;
    }
    // async _getRoles() {
    //   try {
    //     const res = await this.__getRoles();
    //     let arr = res.list && res.list.length > 0 ? res.list : [];
    //     // debugger
    //     this.options = arr.map((it) => {
    //       return {
    //         label: it.display_name,
    //         value: it.id,
    //       };
    //     });
    //     // debugger
    //   } catch (error) {
    //     console.log(error);
    //   }
    // },
    // async __getRoles(data) {
    //   return request({
    //     url: `/api/roles`,
    //     method: "get",
    //     data,
    //   });
    // },
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }

  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
