<!--
 * @Descripttion:
 * @version:
 * @Author: loserjohn
 * @Date: 2020-09-27 14:35:22
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-04-02 12:20:18
-->
<template>
  <div :class="{ 'has-logo': showLogo }">
    <logo
      v-if="showLogo"
      :collapse="isCollapse"
    />
    <el-scrollbar wrap-class="scrollbar-wrapper">
      <el-menu
        :default-active="activeMenu"
        :collapse="isCollapse"
        :background-color="variables.menuBg"
        :text-color="variables.menuText"
        :unique-opened="true"
        :active-text-color="variables.menuActiveText"
        :collapse-transition="false"
        menu-trigger="hover"
        @select="meunsSelect"
        @open="meunsSelect"
      >
        <sidebar-item
          v-for="route in permission_routes"
          :key="route.page_id"
          :item="route"
          :base-path="route.path"
        />
      </el-menu>
    </el-scrollbar>
    <!-- <div class="secontMenusBox"></div> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Logo from './Logo';
import SidebarItem from './SidebarItem';
import variables from '@/styles/variables.scss';

export default {
  components: {
    SidebarItem,
    Logo
  },
  computed: {
    ...mapGetters(['permission_routes', 'sidebar']),
    activeMenu() {
      const route = this.$route;
      const { meta, path } = route;
      // if set path, the sidebar will highlight the path you set
      if (meta.activeMenu) {
        return meta.activeMenu;
      }
      return path;
    },
    showLogo() {
      return this.$store.state.settings.sidebarLogo;
    },
    variables() {
      return variables;
    },
    isCollapse() {
      return !this.sidebar.opened;
    }
  },
  methods: {
    meunsSelect(e) {
      console.log(e);
    }
  }
};
</script>

<style lang="scss" scoped>
// .secontMenusBox {
//   width: 196px;
//   height: 100%;
//   background: #3e5169;
//   position: absolute;
//   left: 190px;
//   top: 0;
//   z-index: 10;
// }
</style>
