<!--
 * @Author: loserjohn
 * @Date: 2022-05-08 09:23:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-08 12:28:57
 * @Description: ---
 * @FilePath: \xh-admin-templete\src\layout\components\Sidebar\Logo.vue
-->
<template>
  <div class="sidebar-logo-container" :class="{ collapse: collapse }">
    <transition name="sidebarLogoFade">
      <router-link
        v-if="collapse" key="collapse" class="sidebar-logo-link"
        to="/"
      >
        <!-- <img v-if="false" src="@/assets/logo_0_1.png" class="sidebar-logo" />
        <h1 v-else class="sidebar-title">
          {{ title }}
        </h1> -->
      </router-link>
      <router-link
        v-else key="expand" class="sidebar-logo-link"
        to="/"
      >
        <!-- <img src="@/assets/logo_0_1.png" class="sidebar-logo" /> -->
        <h1 class="sidebar-title">
          {{ title }}
        </h1>
      </router-link>
    </transition>
  </div>
</template>

<script>
import set from '@/settings';
export default {
  name: 'SidebarLogo',
  props: {
    collapse: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      title: set.title,
      // logo: 'https://wpimg.wallstcn.com/69a1c46c-eb1c-4b46-8bd4-e9e686ef5251.png'
      logo: '../../../assets/logo_0_1.png'
    };
  }
};
</script>

<style lang="scss" scoped>
.sidebarLogoFade-enter-active {
  transition: opacity 1.5s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
  opacity: 0;
}

.sidebar-logo-container {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #2b2f3a;
  text-align: center;
  overflow: hidden;

  & .sidebar-logo-link {
    height: 100%;
    width: 100%;

    & .sidebar-logo {
      width: 32px;
      height: 32px;
      vertical-align: middle;
      margin-right: 12px;
    }

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      color: #fff;
      font-weight: 600;
      line-height: 50px;
      font-size: 14px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }

  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}
</style>
