<!--
 * @Author: your name
 * @Date: 2021-12-03 22:34:50
 * @LastEditTime: 2022-01-26 15:23:28
 * @LastEditors: Please set LastEditors
 * @Description: 标签筛选组件
 * @FilePath: \cfpt-admin\src\components\TagSelect\index.vue
-->
<template>
  <el-select
    v-if="list"
    v-model="val"
    :style="customSytle"
    :multiple="multiple"
    placeholder="请选择标签"
    clearable
    @change="_change"
  >
    <el-option-group
      v-for="group in list"
      :key="group.id"
      :label="group.name"
    >
      <el-option
        v-for="item in group.subs"
        :key="item.id"
        :label="item.name"
        :value="item.id"
      />
    </el-option-group>
  </el-select>
</template>

<script>
import request from '@/utils/request';
export default {
  name: 'TagSelect',
  props: {
    multiple: {
      type: Boolean,
      default: false
    },
    customSytle: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      baseUrl: '/api/tags',
      list: [],
      val: [],
      defaultprops: {
        value: 'id',
        label: 'name',
        children: 'subs',
        multiple: this.multiple
      }
    };
  },
  created() {
    this._getList();
  },
  // beforeDestroy() {
  //   window.removeEventListener('scroll', this.handleScroll)
  //   if (this.interval) {
  //     clearInterval(this.interval)
  //   }
  // },
  methods: {
    setValue(value) {
      this.val = value;
    },
    _change(e) {
      console.log(e);
      // let id = e[e.length - 1]
      // if(this.multiple){
      //   this.$emit('update:value', e)
      // }else{
      //   this.$emit('update:value', id)
      // }
      this.$emit('update:value', e);
    },
    // 省
    async _getList() {
      try {
        const res = await this.__getList();
        this.list = res.list;
      } catch (error) {
        return [];
      }
    },
    __getList(data) {
      return request({
        url: this.baseUrl,
        method: 'get',
        params: data
      });
    }
  }
};
</script>

<style scoped lang="scss"></style>
