@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./btn.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f9f9f9;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f1 {
  flex: 1;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.aLink {
  cursor: pointer;
  color: rgb(0, 123, 255);
  text-decoration: underline;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// aside {
//   background: #eef1f6;
//   padding: 8px 24px;
//   margin-bottom: 20px;
//   border-radius: 2px;
//   display: block;
//   line-height: 32px;
//   font-size: 16px;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
//     Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
//   color: #2c3e50;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;

//   a {
//     color: #337ab7;
//     cursor: pointer;

//     &:hover {
//       color: rgb(32, 160, 255);
//     }
//   }
// }

//main-container全局样式


.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg,
      rgba(32, 182, 249, 1) 0%,
      rgba(32, 182, 249, 1) 0%,
      rgba(33, 120, 241, 1) 100%,
      rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.helpBox {
  background-color: #fcf8e2;
  border-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;

  .helpBoxTitle {
    color: #da8b47;
    line-height: 30px;
  }

  .helpBoxTip {
    color: #75b7f4;
    font-size: 14px;
    line-height: 30px;
    float: right;
  }

  // font-size: 12px;
  p,
  span {
    padding: 0;
  }
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 20px;
}

.blockBtn {
  width: 100% !important;
}



.cm_line_2 {
  letter-spacing: 0;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /*要显示的行数*/
  -webkit-box-orient: vertical;
  font-size: 12px;
}


// 自定义模态窗
.modelComponents {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;

  .modelTitle {
    width: 100%;
    padding: 0 20px 40px 20px;
    margin: 0;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #e4e4e4;
    background: #fbfbfb;
  }

  .modelBox {
    width: 100%;
    padding: 15px;
    flex: 1;
    overflow-y: scroll;

    .stepTitBox {
      background: #f1f1f1;
      margin-bottom: 6px;
      padding: 10px 20px;

      .title {
        padding: 0;
        font-size: 16px;
        font-weight: bolder;
        line-height: 32px;
      }
    }
  }

  .modelFooter {
    border-top: 1px solid #e4e4e4;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-items: center;
    background: #fbfbfb;
  }
}




//*******************通用布局************************
.app_container {
  padding: 16px;

}

.app_container_header {
  margin-bottom: 16px;
  // padding: 0 16px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px 20px;

  .app_container_lines {
    width: 100%;
    height: .5px;
    background: #ddd;
    // margin-bottom: 10px;
  }

  .app_container_title {
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
  }

  .app_container_search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchBars {
      display: flex;
      align-items: center;
      padding: 12px 0;

      .searchBars_fields {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        .searchBars_label {
          // margin-left: 10px;
          margin-right: 10px;
          font-size: 14px;
          font-weight: 500;
          color: #333;
        }
      }
    }
  }

  // .app_container_search_box {
  //   margin-bottom: 16px;
  //   padding: 0 16px;
  //   margin-left: 20px;
  //   margin-right: 20px;
  // }

  .inputsLabel {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
  }


}

.app_container_content {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px 20px;

  .app_container_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .app_container_title {
      // line-height: 2.6;
      font-weight: 600;
      font-size: 16px;
      line-height: 1;

    }

    .app_container_tools {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .app_container_thead {
    background: #F5F6FA;
  }
}

// .app_container_footer{
//   padding: 0 16px;
//   position: absolute;
//   left: 0;
//   right: 0;
//   // width: 100%;
//   bottom: 0;
//   z-index: 1;
// }


// .secontBox {
//   transform: translate(190px, -60px) !important;
// }



.app_container_fixed {
  padding: 16px;
  padding-top: 80px;
}

.app_container_header_fixed {
  margin-bottom: 16px;
  padding: 0 16px;
  position: fixed;
  right: 16px;
  top: 100px;
  // left: 206px;
  z-index: 10;
  background: #fff;
  transition: all ease-in 0.3s;
}

.cellsAll {
  .cell {
    overflow: visible;
  }
}

.excelTitle {
  text-align: center;
  color: #526cd7;
  margin-top: 10px;
}



//*******************ele  覆盖************************

.el-tag--medium {
  padding-left: 10px !important;
  margin-right: 8px;
}

.cell .el-tag {
  margin-right: 8px;
}

.el-card {
  border-radius: 12px !important;
}

.el-tabs--border-card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.el-timeline-item__node--normal {
  left: -1px;
  width: 12px;
  height: 12px;
}

.el-timeline-item__node--large {
  left: -10px;
  width: 30px;
  height: 30px;
}

.el-timeline-item__icon {
  color: #ffffff;
  font-size: 17px;
}




.el-input.is-disabled .el-input__inner {
  background-color: #f5f7fa;
  border-color: #dfe4ed;
  color: #626263;
  cursor: not-allowed;
}

.el-table__row.warning-row {
  background: #fdfbee;
}

.el-upload--picture-card {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
}

.el-upload-list__item-preview {
  width: 20px;
  height: 20px;
}


//*******************收缩栏状态下************************
.hideSidebar .app_container_header_fixed {
  // left: 70px;
}

.hideSidebar .secontBox {
  transform: translate(54px, -60px) !important;
  /* margin-left: 10%; */
  /* left: 0 !important;
  height: 100%; */
}


.el-table__row.warning-row {
  background: #fff5f5 !important;
}

.el-table__row.success-row {
  background: #f0f9eb !important;
}

.el-dialog__body {
  padding: 16px;
}

.echart {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.el-table th.el-table__cell {
  background: transparent !important;
}

.el-table th.el-table__cell>.cell {
  display: flex !important;
  align-items: center;

}

.el-menu-item.is-active {
  background-color: #2F54EB !important;
}

#app .sidebar-container .el-submenu .el-menu-item.is-active {
  background-color: #2F54EB !important;
}



//发光字

.shineText {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-animation: Glow 1.5s ease infinite alternate;
  animation: Glow 1.5s ease infinite alternate;
}

@-webkit-keyframes Glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2ab1e7,
      0 0 70px #2ab1e7, 0 0 80px #2ab1e7, 0 0 100px #2ab1e7, 0 0 150px #2ab1e7;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2ab1e7,
      0 0 35px #2ab1e7, 0 0 40px #2ab1e7, 0 0 50px #2ab1e7, 0 0 75px #2ab1e7;
  }
}

@keyframes Glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2ab1e7,
      0 0 70px #2ab1e7, 0 0 80px #2ab1e7, 0 0 100px #2ab1e7, 0 0 150px #2ab1e7;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #2ab1e7,
      0 0 35px #2ab1e7, 0 0 40px #2ab1e7, 0 0 50px #2ab1e7, 0 0 75px #2ab1e7;
  }
}