// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* fade */
.slideLeft-enter-active{
  transition: all 0.28s ease-in;
}

.slideLeft-enter,
.slideLeft-leave-active {
  opacity: 0;
  transform: translateX(30px);
}


/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}


// 筛选项的过渡动画slide
.slide-enter-active,
.slide-leave-active {
    transition: all .5s;
    overflow: hidden;
}

.slide-enter-to,
.slide-leave {
    height: auto;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    transform: translateX(40px);
    opacity: 0;
    height: 0;
}