<!--
 * @Author: loserjohn
 * @Date: 2022-05-08 09:23:34
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-08 15:45:00
 * @Description: ---
 * @FilePath: \xh-admin-templete\public\index.html
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>
    <%= webpackConfig.name %>
  </title>
</head>

<body>
  <!-- <script src="./echarts.min.js"></script> -->
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>