<!--
 * @Author: loserjohn
 * @Date: 2022-05-08 09:23:34
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-27 15:31:10
 * @Description: ---
 * @FilePath     : \xh-admin-templete\src\views\dashboard\index.vue
-->
<!--
 * @Author: loserjohn
 * @Date: 2022-03-27 12:28:48
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-05-08 13:27:23
 * @Description: ---
 * @FilePath: \xh-admin-templete\src\views\dashboard\index.vue
-->
<template>
  <div class="full" />
</template>

<script>
import request from '@/utils/request';
// import Wang from '@/components/Wang';

// import UploadOne from '@/components/Upload/UploadOne';
// import UploadImage from '@/components/Upload/UploadImage';
// import UploadImageArray from '@/components/Upload/UploadImageArray';
// import UeEditor from '@/components/UeEditor';
// import Tinymce from '@/components/Tinymce';

export default {
  components: {
    // UploadOne,
    // UploadImage,
    // UploadImageArray,
    // UeEditor
    // Tinymce
    // Wang
  },
  data() {
    return {
      setting: {
        name: 'product_file',
        server_url: process.env.VUE_APP_BASE_API,
        save_dir: 'file',
        size: [100, 100],
        length: 20000,
        limit_num: 1,
        //   '.jpg',
        //  '.jepg',
        // '.png'
        file_types: [


        ],
        file_mimes: [
          'image/jpeg',
          'image/gif',
          'image/png',
          'image/jepg'
        ]
      },


      // setting:
      //   {
      //     name: 'product_file',
      //     server_url: process.env.VUE_APP_BASE_API,
      //     save_dir: 'file',
      //     size: [100, 100],
      //     length: 20000,
      //     limit_num: 1,
      //     file_types: [
      //       '.jpg',
      //       '.gif',
      //       '.png',
      //       '.doc',
      //       '.docx',
      //       '.xlsx',
      //       '.xls'
      //     ],
      //     file_mimes: [
      //       'image/jpeg',
      //       'image/gif',
      //       'image/png',
      //       'application/msword',
      //       'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
      //       'application/vnd.ms-excel',
      //       'application/vnd.ms-excel'
      //     ]
      //   },

      amountData: {},
      mapData: [],
      zdCount: {},
      opCount: {},
      hyData: []
    };
  },
  created() {},
  mounted() {},
  methods: {}
};
</script>

<style lang="scss" scoped>
.full {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  background: #e7ebf4;
  padding: 20px;
  background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01aab25bbb0b52a801213dea8dc4e4.gif&refer=http%3A%2F%2Fimg.zcool.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1655452596&t=8e44738fb3cdb23afa6918644d9f3e77');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.picBox {
  width: 100%;
  box-sizing: border-box;
}
</style>
