<template>
  <div class="tinymce-editor">
    <Editor :id="tinymceId" :init="init" />
    <button @click="aaaa">
      点击获取
    </button>
  </div>
</template>
<script>

import { upload } from '@/api/app.js';
import tinymce from 'tinymce/tinymce'; // tinymce默认hidden，不引入不显示
import Editor from '@tinymce/tinymce-vue'; // 编辑器引入
import 'tinymce/themes/silver/theme'; // 编辑器主题
import 'tinymce/icons/default';
import '~/tinymce/plugins/link'; // 超链接
import '~/tinymce/plugins/paste'; // 粘贴过滤
import '~/tinymce/plugins/preview'; // 预览
import '~/tinymce/plugins/image'; // 超链接
import '~/tinymce/plugins/searchreplace'; // 粘贴过滤
import '~/tinymce/plugins/media'; // 预览
import '~/tinymce/plugins/table'; // 预览
import '~/tinymce/plugins/autolink'; // 预览
import '~/tinymce/plugins/lists'; //
export default {
  components: {
    Editor
  },
  props: {
    // 配置富文本大小
    styleOption: {
      type: Object,
      default: function () {
        return {
          width: 800,
          height: 500
        };
      }
    }
  },
  data() {


    return {
      // 初始化配置
      tinymceId: 'tinymce',
      myValue: this.value,
      mytinymce: tinymce,
      init: {
        selector: '#tinymce',
        language_url: '/tinymce/langs/zh_CN.js', // 汉化路径是自定义的，一般放在public或static里面
        language: 'zh_CN',
        skin_url: '/tinymce/skins/ui/oxide',
        content_css: '/tinymce/skins/content/default/content.css',
        plugins: ['autolink', 'lists', 'link', 'image', 'preview', 'searchreplace', 'media', 'table', 'paste', 'image'], // 插件
        // 工具栏
        menubar: false, // 隐藏菜单栏
        toolbar: `code | fontselect fontsizeselect | undo redo | cut copy paste | bold italic forecolor backcolor |
                  alignleft aligncenter alignright alignjustify | formatselect |
                  bullist numlist outdent indent | removeformat | image media | fullscreen preview | help`,
        width: this.styleOption.width, // 宽度
        height: this.styleOption.height, // 高度
        placeholder: '在这里输入文字',
        branding: false, // 隐藏右下角技术支持
        paste_preprocess: function (plugin, args) {
          console.log(args.content);
        },
        paste_as_text: true,
        // init_instance_callback为回调配置项
        init_instance_callback: (editor) => {
          // console.log(`回调----`)
          editor.on('input', (e) => {
            // console.log('文本框input触发')
            this.$emit('input', e.target.innerHTML);
          });
          editor.on('change', (e) => {
            // console.log('文本框change触发')
            this.$emit('change', e.level.content);
          });
        },
        // 开关使用Data URL/Blob URL插入图片和文件到内容区的方式。例如，图像是使用imagetools插件处理后插入到内容区的，此时图像并未真正上传到服务器，而是以Data URL/Blob URL的方式插入在内容中。
        automatic_uploads: false,
        // 图片上传地址
        images_upload_url: '/upload',

        // 自定义图片上传
        images_upload_handler: async(blobInfo, success, failure, progress) => {
          // 图片转换为易于理解的file 对象
          const file = blobInfo.blob();
          try {
            const ccc = await this.uploadFile(file, 'rich-text-pic');
            success(ccc);
          } catch (error) {
            console.log('图片上传error', error);
          }
        },
        file_picker_types: 'media',
        file_picker_callback: (callback, value, meta) => {
          if (meta.filetype === 'media') {
            // 动态创建上传input，并进行模拟点击上传操作，达到本地上传视频效果。
            // 创建一个隐藏的input
            const input = document.createElement('input');
            input.setAttribute('type', 'file');
            const that = this; // 为 Vue 构造函数中的 this，指向 Vue 实例对象
            input.onchange = async function () {
              const file = this.files[0]; // 为 HTMLInputElement 构造函数中的 this，指向 input 实例对象
              let cc = await that.uploadFile(file, 'rich-text-video');
              callback(cc);
            };
            input.click();
          }
        },
        video_template_callback: (data) =>
          // debugger;
          `<video width="745" height="420" controls="controls" autoplay src=${data.source1} />`

      }
    };
  },
  mounted() {
    tinymce.init({});
  },
  methods: {

    /**
 * @description 上传文件
 * @param {File} file - 要上传的文件
 * @param {belongTo} folder - 后端所需要上传文件配置参数
 * @returns {Object}
 */

    // 上传图片方法,后端配置项在这
    async  uploadFile (file, folder) {
      // 创建formData对象
      const formData = new FormData();
      formData.append('file', file);
      formData.append('belongTo', folder);
      // 注：此为调用后端上传接口，需根据实际情况进行调整
      return upload(formData).then((res) => {
        if (res.code === 200) {
          return res.data.url;
        } else {
          return this.$message({
            type: 'error',
            dangerouslyUseHTMLString: true,
            message: '上传图片失败'
          });
        }
      })
        ['catch']((error) => {
          console.log('上传图片error', error);
        });
    },

    aaaa() {
      let c = this.getContent();
      this.setContent('李泽锋正还睡觉啊UI');
      console.log('富文本中的内容', c);
    },


    // 获取富文本中的内容
    getContent() {
      return tinymce.activeEditor.getContent();
    },

    // 设置富文本中的内容
    setContent(val) {
      tinymce.activeEditor.setContent(val);
    }

  }
};
</script>
