<template>
  <div class="app-container">
    <el-form
      ref="ruleForm"
      :model="model"
      label-width="100px"
      :rules="formValiteRule"
      label-position="right"
    >
      <el-row>
        <el-col :span="24">
          <span
            style="padding-bottom: 10px"
          >【<strong>{{ title }}</strong>】帮助内容</span>
          <vue-ueditor-wrap
            v-model="model.help_content"
            :config="myConfig"
          />
        </el-col>
      </el-row>
    </el-form>
    <div style="text-align: right">
      <el-button
        v-if="rightCheck('save')"
        type="primary"
        @click="handleSave"
      >
        保存
      </el-button>
      <el-button
        type="default"
        @click="handleReset"
      >
        重置
      </el-button>
      <el-button
        type="default"
        @click="closeThisTab()"
      >
        关闭
      </el-button>
    </div>
  </div>
</template>

<script>
import baseModel from '@/utils/baseModel';
import request from '@/utils/request';
import VueUeditorWrap from 'vue-ueditor-wrap';

const defaultModel = {
  page_id: '',
  help_content: ''
};

export default {
  name: 'MaxHelpEdit', // 资讯编辑
  components: { VueUeditorWrap },
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/help/edit',
      keyName: 'page_id',
      modelName: '帮助',
      model: defaultModel,
      title: '',
      myConfig: {
        // 如果需要上传功能,找后端小伙伴要服务器接口地址
        serverUrl: process.env.VUE_APP_BASE_API + '/Upload/UEditor/Do',
        // 你的UEditor资源存放的路径,相对于打包后的index.html
        UEDITOR_HOME_URL: '/static/ueditor/',
        // 编辑器不自动被内容撑高
        autoHeightEnabled: false,
        // 工具栏是否可以浮动
        autoFloatEnabled: false,
        // 初始容器高度
        initialFrameHeight: 400,
        // 初始容器宽度
        initialFrameWidth: '100%',
        // 关闭自动保存
        enableAutoSave: true,
        zIndex: 3000
      },
      uploadUrl: process.env.VUE_APP_BASE_API + '/Upload/File/Saves'
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  async created() {
    this.currentKey = this.$route.params && this.$route.params.id;
    this.title = this.$route.params && this.$route.params.title;
    this.getConfig();
    this.handleEdit(this.currentKey);
  },
  methods: {
    async __config() {
      return request({
        url: this.baseUrl + '/config?parentKey=',
        method: 'get'
      });
    },
    async handleSave() {
      const res = await this.__save(this.model[this.keyName], this.model);
      if (res.result === 1) {
        this.$message({
          type: 'success',
          message: '更新成功!'
        });
      } else {
        this.$message({
          type: 'error',
          message: '更新失败' + res.msg
        });
      }
    },
    async handleEdit(key) {
      const resModel = await this.__get(key);
      this.model = resModel.data;
      this.getAfter();
    },
    async __save(id, data) {
      return request({
        url: this.baseUrl + `/save/?id=${id}`,
        method: 'post',
        data
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
.button {
  margin-top: 35px;
}
</style>
