<!--
 * @Descripttion:
 * @version:
 * @Author: loserjohn
 * @Date: 2020-11-06 17:56:50
 * @LastEditors: loserjohn
 * @LastEditTime: 2020-11-06 18:25:35
-->
<template>
  <div class="app-container">
    <div v-html="helpText" />
  </div>
</template>

<script>
// import baseModel from '@/utils/baseModel'
import request from '@/utils/request';

const defaultModel = {
  page_id: '',
  help_content: ''
};

export default {
  name: 'MaxHelpList', // 资讯编辑
  // mixins: [baseModel],
  data() {
    return {
      helpText: ''
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.getHelpText(id);
  },
  methods: {
    async getHelpText(id) {
      const res = await this.__getHelpText(id);
      console.log(res);
      this.helpText = res.data.help_content;
    },
    async __getHelpText(id) {
      return request({
        url: '/help/list/get?id=' + id,
        method: 'get'
        // data
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }

  .permission-tree {
    margin-bottom: 30px;
  }
}

.button {
  margin-top: 35px;
}
</style>
