<template>
  <div class="app-container">
    <el-container>
      <el-aside
        width="200px"
        style="padding: 0px; background-color: #ffffff"
      >
        <el-card class="box-card">
          <div
            slot="header"
            class="clearfix"
            style="margin: -7px 0px"
          >
            <span
              style="font-weight: bolder"
            >功能结构<el-button
              icon="el-icon-refresh"
              size="mini"
              circle
              style="float: right"
              @click="getConfig()"
            /></span>
          </div>
          <el-tree
            :data="config.treeMenu"
            :props="treeMenuProps"
            :expand-on-click-node="false"
            default-expand-all
            @node-click="handleTreeNodeClick"
          />
        </el-card>
      </el-aside>
      <el-main style="padding-top: 0px">
        <div style="float: left; width: 100%; margin-bottom: 20px">
          <el-breadcrumb separator=":">
            <el-breadcrumb-item>当前位置</el-breadcrumb-item>
            <el-breadcrumb-item>
              <strong>{{ selectTreeLabel }}</strong>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <div style="float: left; width: 100%; margin-bottom: 20px">
          <span v-html="model.help_content" />
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
import baseModel from '@/utils/baseModel';
import request from '@/utils/request';

const defaultModel = {
  page_id: '',
  help_content: ''
};

export default {
  name: 'MaxHelpList', // 资讯编辑
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/help/list',
      keyName: 'page_id',
      modelName: '帮助',
      model: defaultModel,
      treeMenuProps: {
        children: 'children',
        label: 'label'
      },
      selectTreeId: '',
      selectTreeLabel: '全部',
      parentKey: ''
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  async created() {
    this.parentKey = this.$route.params && this.$route.params.id;
    this.getConfig();
  },
  methods: {
    async handleTreeNodeClick(data) {
      this.selectTreeId = data.id;
      this.selectTreeLabel = data.label;
      const resModel = await this.__get(data.id);
      this.model = resModel.data;
    },
    async __config() {
      return request({
        url: this.baseUrl + '/config?parentKey=' + this.parentKey,
        method: 'get'
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
.button {
  margin-top: 35px;
}
</style>
