<template v-if="setting">
  <div>
    <div style="font-size: 12px;color: #0066CC;">
      拖动改变图片顺序
    </div>
    <draggable
      v-model="imageList"
      v-bind="dragOptions"
      tag="ul"
      class="list-group el-upload-list el-upload-list--picture-card"
      @start="isDragging = true"
      @end="isDragging = false"
    >
      <transition-group
        type="transition"
        name="flip-list"
      >
        <li
          v-for="(element, index) in imageList"
          :key="index"
          class="list-group-item el-upload-list__item is-success"
        >
          <img
            :src="element"
            alt=""
            class="el-upload-list__item-thumbnail"
            :preview-src-list="imageList"
          >

          <!-- <a class="el-upload-list__item-name"><i class="el-icon-document" />{{ element.title }}</a> -->
          <i class="el-icon-close" />
          <i class="el-icon-close-tip">按 delete 键可删除</i>
          <span class="el-upload-list__item-actions">
            <!-- <span class="el-upload-list__item-preview"> -->
            <!-- <i class="el-icon-edit" @click="handleToSet(index)" /> -->
            <el-image
              class="el-upload-list__item-preview"
              src="https://gjlflsys.oss-cn-shanghai.aliyuncs.com/NewProject/product/2021-12-12/211244_hot.png"
              :preview-src-list="imageList"
            />
            <!-- </span> -->

            <span class="el-upload-list__item-delete">
              <i
                class="el-icon-delete"
                @click="handleRemove(index)"
              />
            </span>
          </span>
        </li>
      </transition-group>
    </draggable>
    <el-upload
      v-if="!disabled"
      :disabled="disabled"
      :multiple="true"
      :headers="headers"
      :action="uploadUrl"
      :data="setting"
      :show-file-list="false"
      :on-success="handleAvatarSuccess"
      :before-upload="beforeAvatarUpload"
      list-type="picture-card"
    >
      <i class="el-icon-plus" />
    </el-upload>
    <!-- <el-dialog :visible.sync="dialog.visible" :modal-append-to-body="false"> -->
    <!--  <el-container>
        <el-main>
          <el-form v-model="dialog" label-width="80px">
            <el-form-item label="标题" style="margin-bottom: 10px;">
              <el-input v-model="dialog.title" />
            </el-form-item>
            <el-form-item label="描述" style="margin-bottom: 10px;">
              <el-input v-model="dialog.descript" type="textarea" rows="5" />
            </el-form-item>
            <el-form-item style="text-align:right; margin-bottom: 10px;">
              <el-button type="primary" @click="handleSet">
                保存
              </el-button>
              <el-button type="default" @click="dialog.visible=false">
                关闭
              </el-button>
            </el-form-item>
          </el-form>
        </el-main>
        <el-aside width="200px" style="padding: 0px; margin: 0px; background-color: #ffffff;">
          <img width="200px" :src="dialog.src" alt="">
        </el-aside>
      </el-container> -->
    <!-- </el-dialog> -->
  </div>
</template>
<script>

import draggable from 'vuedraggable';
import {
  getToken
} from '@/utils/auth';
export default {
  name: 'UploadImageArray',
  components: { draggable },
  props: {
    setting: {
      type: Object,
      default: function() {
        return {
          'name': 'product_file',
          'server_url': process.env.VUE_APP_BASE_API,
          'save_dir': 'file',
          size: [100, 100],
          length: 20000,
          limit_num: 1,
          file_types: [
            '.jpg',
            '.gif',
            '.png',
            '.doc',
            '.docx',
            '.xlsx',
            '.xls'
          ],
          file_mimes: ['image/jpeg',
            'image/gif',
            'image/png',
            'application/msword',
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
            'application/vnd.ms-excel',
            'application/vnd.ms-excel'
          ]
        };
      }
    },
    uploadUrl: {
      type: String,
      default: function() {
        return process.env.VUE_APP_BASE_API + '/api/oss/upload';
      }
    },
    label: {
      type: String,
      default: function() {
        return '画册';
      }
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      headers: {
        'Authorization': getToken()
      },
      imageList: [],
      returnValue: '',
      isDragging: false,
      dialog: {
        imageUrl: '',
        visible: false,
        title: '',
        index: '',
        descript: ''
      }
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: 0,
        group: 'description',
        disabled: false,
        ghostClass: 'ghost'
      };
    }
  },
  methods: {
    guid() {
      function s4() {
        return Math.floor((1 + Math.random()) * 0x10000).toString(16)
          .substring(1);
      }
      return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
    },
    handleAvatarSuccess(res, file) {
      this.imageList.push(
        // {
        //   id: this.guid(),
        //   src: res,
        //   title: '',
        //   descript: ''
        // }
        res
      );
    },
    beforeAvatarUpload(file) {
      const isJPG = this.setting.file_mimes.indexOf(file.type) > -1;
      const isLt2M = file.size / 1024 < this.setting.length;

      if (!isJPG) {
        this.$message.error(`上传${this.label}只能是${this.stringJoin(',', this.setting.file_types)}格式!`);
      }
      if (!isLt2M) {
        this.$message.error(`上传${this.label}大小不能超过${this.setting.length}KB!`);
      }
      return isJPG && isLt2M;
    },
    handleRemove(index) {
      if (this.disabled) {return;}
      this.$confirm(`是否删除该${this.label}, 是否继续?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.imageList.splice(index, 1);
        this.$message({
          type: 'success',
          message: '删除成功!'
        });
      })
        ['catch'](() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
    },
    handleToSet(index) {
      if (this.disabled) {return;}
      this.dialog.visible = true;
      this.dialog.src = this.imageList[index].src;
      this.dialog.title = this.imageList[index].title;
      this.dialog.descript = this.imageList[index].descript;
      this.dialog.index = index;
    },
    handleSet() {
      this.dialog.visible = false;
      this.imageList[this.dialog.index].src = this.dialog.src;
      this.imageList[this.dialog.index].title = this.dialog.title;
      this.imageList[this.dialog.index].descript = this.dialog.descript;
    },
    getValue() {
      this.returnValue = this.imageList;
      return this.returnValue;
    },
    setValue(images) {
      // this.returnValue = images
      this.imageList = images || [];
    },
    setValues(jimages) {
      // this.returnValue = JSON.stringify(jimages)
      this.imageList = jimages;
      // console.log(1,this.imageList)
    },
    stringJoin(split, array) {
      var len = array.length;
      var data = '';
      for (var i = 0; i < len; i++) {
        if (data.length <= 0) {
          data += array[i];
        } else {
          data += split + array[i];
        }
      }
      return data;
    }
  }
};
</script>
<style lang="scss" scoped>
.tip {
  color: red;
  float: left;
  margin: 0px;
  margin-top: -5px;
  font-size: 12px;
}
>>> .el-upload-list {
  margin-top: -20px;
}

.button {
  margin-top: 35px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.list-group-item {
  cursor: move;
  list-style: none;
  float: left;
  position: relavte;
}
.list-group-item i {
  cursor: pointer;
}
</style>
