<template>
  <div>
    <el-upload
      :data="setting"
      :headers="header"
      :action="uploadUrl"
      :on-success="handleUploadSuccess"
      :on-preview="handleUploadPreview"
      :on-remove="handleUploadRemove"
      :before-remove="beforeUploadRemove"
      :on-exceed="handleUploadExceed"
      :before-upload="beforeUpload"
      :limit="setting.limit_num"
      :file-list="fileList"
      :multiple="false"
      :show-file-list="false"
      :on-error="handleUploadError"
    >
      <el-button
        size="small"
        type="primary"
      >
        导入
      </el-button>
      <!-- <div class="el-upload__tip tip">
        只能上传{{ setting.limit_num }}个{{
          stringJoin(",", setting.file_types)
        }}文件，且不超过{{ setting.length }}kb
      </div> -->
    </el-upload>
  </div>
</template>
<script>
import { getToken } from '@/utils/auth';
let progress = 0;
let fileCount = 0;
export default {
  name: 'UploadFiles',
  props: {
    setting: {
      type: Object,
      default: function () {
        return {
          name: 'product_file',
          server_url: process.env.VUE_APP_BASE_API,
          save_dir: 'file',
          size: [100, 100],
          length: 20000,
          limit_num: 1,
          file_types: [
            '.jpg',
            '.gif',
            '.png',
            '.doc',
            '.docx',
            '.xlsx',
            '.xls'
          ],
          file_mimes: [
            'image/jpeg',
            'image/gif',
            'image/png',
            'application/msword',
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
            'application/vnd.ms-excel',
            'application/vnd.ms-excel'
          ]
        };
      }
    },
    uploadUrl: {
      type: String,
      default: function () {
        return '';
      }
    },
    label: {
      type: String,
      default: function () {
        return '文件';
      }
    }
  },
  data() {
    return {
      fileList: [],
      returnValue: '',
      header: {
        Authorization: getToken()
      },
      progress: 0
    };
  },
  computed: {
    fileListLength() {
      let l = this.fileList.length;
      console.log('fileListLength', l);
      return l;
    }
  },
  methods: {
    handleUploadError(res, file) {
      // debugger;
      // console.log(res);
      if (res.message) {
        const err = JSON.parse(res.message);

        this.$notify.error({
          title: '错误',
          message: err.message || `上传失败:${res.message}`,
          duration: 1000
        });
      }
      // this.progress+=1
      this.calc();
    },
    handleUploadSuccess(res, file, fileList) {
      console.log(111, res, fileList);
      if (res.result === 0) {
        this.$message({
          type: 'error',
          dangerouslyUseHTMLString: true,
          message: `上传${this.label}失败：<br/>` + res.data
        });
      } else {
        const filesTemp = [];
        for (let i = 0; i < fileList.length; i++) {
          if (fileList[i].status === 'success') {
            if (fileList[i].response && fileList[i].response.result === 1) {
              filesTemp.push({
                name: fileList[i].name,
                url: fileList[i].response.data
              });
            } else {
              filesTemp.push({ name: fileList[i].name, url: fileList[i].url });
            }
          }
        }

        this.$notify({
          title: `${filesTemp.length} /${fileList.length}`,
          message: '上传成功',
          type: 'success',
          duration: 1000
        });
        this.returnValue = JSON.stringify(filesTemp);
      }
      this.calc();
    },

    // 所有上传任务完成后回调
    calc() {
      progress = progress + 1;
      console.log(progress, fileCount);
      if (progress >= fileCount) {
        this.$emit('succss');
        this.fileList = [];
        progress = 0;
        fileCount = 0;
      }
    },
    handleUploadPreview(file) {
      if (file.response) {
        this.download_url(file.name, file.response.data);
      } else {
        this.download_url(file.name, file.url);
      }
    },
    handleUploadRemove(file, fileList) {
      const filesTemp = [];
      for (let i = 0; i < fileList.length; i++) {
        if (fileList[i].status === 'success') {
          if (fileList[i].response && fileList[i].response.result === 1) {
            filesTemp.push({
              name: fileList[i].name,
              url: fileList[i].response.data
            });
          } else {
            filesTemp.push({ name: fileList[i].name, url: fileList[i].url });
          }
        }
      }
      this.returnValue = JSON.stringify(filesTemp);
    },
    handleUploadExceed(files, fileList) {
      if (this.setting.limit_num > 1) {
        this.$message.warning(
          `当前限制选择 ${this.setting.limit_num} 个文件，本次选择了 ${
            files.length
          } 个文件，共选择了 ${files.length + fileList.length} 个文件`
        );
      } else {
        this.$message.warning(
          `上传新的${this.label}前，请先删除已上传的${this.label}`
        );
      }
    },
    beforeUploadRemove(file, fileList) {
      const isJPG = this.setting.file_mimes.indexOf(file.type) > -1;
      const isSize = file.size / 1024 < this.setting.length;
      if (!isJPG && !isSize) {
        return this.$confirm(`确定移除${file.name}？`);
      }
    },
    beforeUpload(file) {
      const isJPG = this.setting.file_mimes.indexOf(file.type) > -1;
      const isSize = file.size / 1024 < this.setting.length;
      if (!isJPG) {
        this.$message.error(
          `上传${this.label}只能是${this.stringJoin(
            ',',
            this.setting.file_types
          )}格式!`
        );
      }
      if (!isSize) {
        this.$message.error(
          `上传${this.label}大小不能超过${this.setting.length}KB!`
        );
      }

      if (isJPG && isSize) {
        fileCount += 1;
      }
      return isJPG && isSize;
    },
    getValue() {
      return this.returnValue;
    },
    setValue(files) {
      this.returnValue = files;
      this.fileList = files ? JSON.parse(files) : [];
    },
    setValues(jfiles) {
      this.returnValue = JSON.stringify(jfiles);
      this.fileList = jfiles;
    },
    download_url(name, url) {
      const link = document.createElement('a');
      link.href = url;
      link.target = '_blank';
      link.download = name;
      // click触发下载
      link.click();
      // 通过revokeObjectURL释放url对象
      window.URL.revokeObjectURL(link.href);
    },
    stringJoin(split, array) {
      var len = array.length;
      var data = '';
      for (var i = 0; i < len; i++) {
        if (data.length <= 0) {
          data += array[i];
        } else {
          data += split + array[i];
        }
      }
      return data;
    }
  }
};
</script>

<style scoped>
.tip {
  color: red;
  float: left;
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
}
>>> .el-upload-list {
  margin-top: -20px;
}
</style>
