<!-- //单图上传 -->
<template>
  <div class="uploadComponent">
    <el-upload
      :style="{ width: setting.size[0] + 'px', height: setting.size[0] + 'px' }"
      class="singleUpload"
      :action="uploadUrl"
      :data="setting"
      :show-file-list="false"
      :on-success="handleUploadSuccess"
      :headers="headers"
      :before-upload="beforeUpload"
    >
      <img
        v-if="imageUrl"
        :src="imageUrl"
        class="avatar"
        mode="cover"
        :style="{
          width: setting.size[0] + 'px',
          height: setting.size[0] + 'px',
        }"
      >
      <i
        v-else
        class="el-icon-plus avatar-uploader-icon"
        :style="{
          width: setting.size[0] + 'px',
          height: setting.size[0] + 'px',
          lineHeight: setting.size[0] + 'px',
        }"
      />
    </el-upload>
    <div class="actionBoxs">
      <el-button
        v-if="imageUrl"
        type="text"
        class="el-icon-close close"
        @click="clearImage"
      />
      <el-image
        v-if="imageUrl"
        class="picpreview"
        src="https://gjlflsys.oss-cn-shanghai.aliyuncs.com/NewProject/product/2021-12-27/204001_eye.png"
        :preview-src-list="[imageUrl]"
        fit="contain "
      />
    </div>

    <div
      v-if="showtip"
      class="el-upload__tip tip"
    >
      只能上传{{ setting.limit_num }}个{{
        stringJoin(",", setting.file_types)
      }}文件，且不超过{{ setting.length }}kb
    </div>
  </div>
</template>

<script>
import { getToken } from '@/utils/auth';
export default {
  name: 'UploadImage',
  props: {
    setting: {
      type: Object,
      default: function () {
        return {
          name: 'product_file',
          server_url: process.env.VUE_APP_BASE_API,
          save_dir: 'file',
          size: [100, 100],
          length: 20000,
          limit_num: 1,
          file_types: [
            '.jpg',
            '.gif',
            '.png',
            '.doc',
            '.docx',
            '.xlsx',
            '.xls'
          ],
          file_mimes: [
            'image/jpeg',
            'image/gif',
            'image/png',
            'application/msword',
            'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
            'application/vnd.ms-excel',
            'application/vnd.ms-excel'
          ]
        };
      }
    },
    uploadUrl: {
      type: String,
      default: function () {
        return process.env.VUE_APP_BASE_API + '/api/oss/upload';
      }
    },
    label: {
      type: String,
      default: function () {
        return '图片';
      }
    },
    showtip: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      headers: {
        Authorization: getToken()
      },
      imageUrl: '',
      setting2: {
        setting: 'up_cms_download',
        chunk: 0,
        chunks: 0
      }
    };
  },
  methods: {
    clearImage() {
      this.$confirm(`确定要删除该${this.label}吗?`, '警告', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(async () => {
          this.imageUrl = '';
        })
        ['catch']((err) => {
          console.error(err);
        });
    },
    handleUploadSuccess(res, file) {
      console.log(res);
      if (!res) {
        this.$message({
          type: 'error',
          dangerouslyUseHTMLString: true,
          message: `上传${this.label}失败：<br/>`
        });
      } else {
        this.imageUrl = res;
      }
    },
    beforeUpload(file) {
      console.log(file);
      const isJPG = this.setting.file_mimes.indexOf(file.type) > -1;
      const isSize = file.size / 1024 < this.setting.length;
      if (!isJPG) {
        this.$message.error(
          `上传${this.label}只能是${this.stringJoin(
            ',',
            this.setting.file_types
          )}格式!`
        );
      }
      if (!isSize) {
        this.$message.error(
          `上传${this.label}大小不能超过${this.setting.length}KB!`
        );
      }
      return isJPG && isSize;
    },
    getValue() {
      return this.imageUrl;
    },
    setValue(url) {
      this.imageUrl = url;
    },
    stringJoin(split, array) {
      var len = array.length;
      var data = '';
      for (var i = 0; i < len; i++) {
        if (data.length <= 0) {
          data += array[i];
        } else {
          data += split + array[i];
        }
      }
      return data;
    }
  }
};
</script>

<style scoped lang="scss">
.uploadComponent {
  width: 100%;
  height: 120px;
  position: relative;
  .actionBoxs {
    position: absolute;
    left: 105px;
    top: 0;
  }
  .singleUpload {
    float: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #8c939d;
    background: #fbfdff;
    border-radius: 8px;
    border: 1px dashed #cfd8e3;
  }

  .avatar-uploader-icon {
    font-size: 30px;
    color: "#8c939d";
  }

  .tip {
    color: red;
    float: left;
    margin: 0px;
    margin-top: 5px;
    font-size: 12px;
    // height: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .el-upload-list {
    margin-top: -20px;
  }

  .close {
    // float: left;
    display: block;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #cccccc;
    // margin-left: 2px;
  }
  .picpreview {
    // float: left;
    display: block;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #cccccc;
    // margin-left: 2px;
    width: 24px;
    height: 24px;
  }
}
</style>
