<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-14 17:37:19
 * @ Description:  积分管理管理
 -->

<template>
  <div class="app_container">
    <div
      class="el-tag el-tag--medium el-tag--light"
      style="width: 100%; height: 43px; margin-bottom: 6px"
    >
      <span
        class="el-form-item__label"
        style="font-size: 16px; font-weight: bold; margin-left: 10px"
      >
        可配置积分项</span>
    </div>
    <el-table
      v-loading="loading"
      :data="dataList"
      row-key="id"
      :tree-props="{ children: 'subs', hasChildren: 'hasChildren' }"
      class="app_container_content"
      border
      @selection-change="handleSelectionChange"
    >
      <!-- <el-table-column type="selection" align="center" width="55" /> -->
      <el-table-column
        type="index"
        align="center"
        width="55"
        label="序号"
      />
      <el-table-column
        align="left"
        label="积分名称"
        show-overflow-tooltip
      >
        <template slot-scope="scope">
          {{ scope.row.display_name }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="积分数额"
        show-overflow-tooltip
      >
        <template slot-scope="scope">
          {{ scope.row.point }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="创建时间"
        width="160"
      >
        <template slot-scope="scope">
          {{ dateFormat("yyyy-MM-dd hh:mm:ss", scope.row.created_at) }}
        </template>
      </el-table-column>
      <!--  <el-table-column
        align="left"
        label="创建人"
        show-overflow-tooltip
      >
        <template slot-scope="scope">
          {{ scope.row.creater_name }}
        </template>
      </el-table-column> -->
      <!-- <el-table-column
        align="left"
        label="联系方式"
        show-overflow-tooltip
        width="200"
      >
        <template slot-scope="scope">
          {{ scope.row.telephone }}
        </template>
      </el-table-column> -->
      <!-- <el-table-column align="left" label="省">
        <template slot-scope="scope">
          {{ scope.row.province_label }}
        </template>
      </el-table-column>
      <el-table-column align="left" label="市">
        <template slot-scope="scope">
          {{ scope.row.city_label }}
        </template>
      </el-table-column>
      <el-table-column align="left" label="县">
        <template slot-scope="scope">
          {{ scope.row.country_label }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="区"
        width="200"
        show-overflow-tooltip
      >
        <template slot-scope="scope">
          {{ scope.row.town_label }}
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        label="地址"
        width="200"
        show-overflow-tooltip
      >
        <template slot-scope="scope">
          {{ scope.row.address }}
        </template>
      </el-table-column> -->
      <!--   <el-table-column align="left" label="创建时间" width="160">
        <template slot-scope="scope">
          {{ dateFormat("yyyy-MM-dd hh:mm:ss", scope.row.created_at) }}
        </template>
      </el-table-column> -->

      <!-- <el-table-column align="center" label="状态" width="80px" >
        <template slot-scope="scope">
            <el-switch v-model="scope.row.status" :active-value="1" disabled :inactive-value="0" @change="
                  handleStatus(scope.row.id, { status: scope.row.status })
                " />
        </template>
      </el-table-column>  -->

      <el-table-column
        align="left"
        label="操作"
        width="80px"
        fixed="right"
      >
        <template slot-scope="scope">
          <el-button
            plain
            type="primary"
            size="small"
            @click="_handleEdit(scope)"
          >
            编辑
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- <el-pagination
      v-show="total > 0"
      :total="total"
      :current-page="searchParams.page"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="searchParams.page_size"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    /> -->
    <!-- 编辑框 -->
    <el-dialog
      :visible.sync="dialogVisible"
      :title="dialogType === 'edit' ? '编辑积分' : '新增积分'"
    >
      <el-form
        ref="ruleForm"
        :model="model"
        label-width="100px"
        :rules="formValiteRule"
        label-position="right"
      >
        <el-row>
          <el-col :span="24">
            <el-form-item
              label="积分名称"
              prop="display_name"
            >
              <el-input
                v-model="model.display_name"
                placeholder="请输入积分名称"
                clearable
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="积分数额"
              prop="point"
            >
              <el-input-number
                v-model="model.point"
                :min="0"
                label="请输入积分标识"
              />
            </el-form-item>
          </el-col>
          <!-- <el-col :span="12">
            <el-form-item label="创建人" prop="name">
              <el-input
                v-model="model.creater_name"
                placeholder="请输入创建人"
                clearable
              />
            </el-form-item>
          </el-col> -->
          <!-- <el-col :span="12">
            <el-form-item label="联系方式" prop="name">
              <el-input
                v-model="model.telephone"
                placeholder="请输入联系方式"
                clearable
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item label="状态" prop="sort">
              <el-switch
                v-model="model.status"
                active-text="启用"
                inactive-text="禁用"
                :active-value="1"
                :inactive-value="0"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="所在区域">
              {{ dialogType === "edit" ? currentArea : "" }}
              <AreaSelect
                :customSytle="{ width: '100%' }"
                ref="singleArea"
                @change="_changeSingle"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <el-form-item label="详细地址">
              <el-input
                v-model="model.address"
                clearable
                :autosize="{ minRows: 2, maxRows: 4 }"
                type="textarea"
                placeholder="说点什么吧"
              />
            </el-form-item>
          </el-col> -->
        </el-row>
      </el-form>
      <div style="text-align: right">
        <el-button
          type="primary"
          @click="_handleSave"
        >
          保存
        </el-button>
        <el-button
          type="danger"
          @click="handleReset"
        >
          重置
        </el-button>
        <el-button
          type="default"
          @click="dialogVisible = false"
        >
          取消
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
// import request from "@/utils/request";
import baseModel from '@/utils/baseModel';
// import IconsPages from '@/components/icons'
// import AreaSelect from '@/components/AreaSelect'
const defaultModel = {
  point: 100,
  display_name: ''
};

// let module = {}

export default {
  name: 'MaxPage',
  components: {
    // IconsPages,
    // AreaSelect
  }, // 积分管理
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/api/config/points',
      keyName: 'id',
      modelName: '积分',
      initModel: defaultModel,
      uploadUrl: process.env.VUE_APP_BASE_API + '/Upload/File/Saves',

      search_items: {
        display_name: ''
      },
      searchParams: {
        filter: '',
        order_by: '',
        sort_by: '',
        search: '',
        page: 1,
        page_size: 100
      },
      drawer: false,
      formValiteRule: {
        display_name: { required: true, message: '不能为空' },
        point: { required: true, message: '不能为空' }
      }
      // currentArea: "",
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  created() {
    this.getList();
  },
  methods: {
    // _setCurrentArea() {
    //   let str = "";
    //   if (this.model.province_label) str += `${this.model.province_label}`;
    //   if (this.model.city_label) str += `/${this.model.city_label}`;
    //   if (this.model.country_label) str += `/${this.model.country_label}`;
    //   if (this.model.town_label) str += `/${this.model.town_label}`;
    //   //  return   this.model.area_name ?this.model.area_name:str
    //   // debugger;
    //   // this.currentArea = this.model.area_name ? this.model.area_name : str;
    // },
    // _changeSingle(data) {
    //   let d = data && data[0] ? data[0] : {};
    //   this.model.province_id = d.province_id;
    //   this.model.city_id = d.city_id;
    //   this.model.country_id = d.country_id;
    //   this.model.town_id = d.town_id;

    //   this.model.area_name = d.area_name ? d.area_name : "";
    //   // debugger
    //   // this._setCurrentArea();
    // },
    // 图标选择回调
    _color(item) {
      // this.model.color = item;
    },
    _select() {
      this.drawer = true;
    },
    getListAfter() {},
    saveBefore() {
      // if (this.model.pid) {
      //   // this.model.pid = this.pidArray[this.pidArray.length - 1];
      // } else {
      //   this.model.pid = 0;
      // }
      // this.model.level_data = [this.pidArray];

      return this.formatModal(defaultModel, this.model);
    },
    addBefore() {
      const that = this;
      // this.$nextTick(() => {
      //   that.$refs.singleArea._clear();
      // });
    },
    async _handleEdit(scope) {
      const that = this;
      this.dialogType = 'edit';
      this.currentKey = scope.row[this.keyName];
      this.model = scope.row;
      // this._setCurrentArea();
      // this.$nextTick(() => {
      //   that.$refs.singleArea._clear();
      // });
      this.dialogVisible = true;
    },
    handleReset() {
      this.model = defaultModel;
      // this.pidArray = [];
    },

    _handleSave() {
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleSave();
          // return true
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app_container {
  .icon-item {
    height: 30px;
    text-align: center;
    width: 30px;
    // float: left;
    font-size: 30px;
    color: #657586;
    cursor: pointer;
  }
}
</style>
