<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-10 16:34:03
 * @ Description:积分配置
 -->

<template>
  <div class="app-container">
    <div class="el-tag el-tag--medium el-tag--light" style="width: 100%; height: 43px; margin-bottom: 6px">
      <span class="el-form-item__label" style="font-size: 16px; font-weight: bold; margin-left: 10px"> 固定积分项</span>
    </div>
    <el-table
      v-loading="loading" :data="dataList" style="width: 100%"
      border @selection-change="handleSelectionChange"
    >
      <el-table-column type="index" label="序号" align="center" />
      <el-table-column align="left" label="积分名称">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column align="left" label="积分类型">
        <template slot-scope="scope">
          {{ scope.row.type_name }}
        </template>
      </el-table-column>
      <el-table-column align="left" label="类型标识">
        <template slot-scope="scope">
          {{ scope.row.type_id }}
        </template>
      </el-table-column>
      <el-table-column align="left" label="积分值">
        <template slot-scope="scope">
          {{ scope.row.value }}
        </template>
      </el-table-column>
      <!-- <el-table-column align="left" label="描述">
        <template slot-scope="scope">
          {{ scope.row.description }}
        </template>
      </el-table-column> -->

      <!-- <el-table-column align="left" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" plain size="small">
            <router-link
              :to="`/sys/roleright/${scope.row.id}/${scope.row.name}`"
            >
              菜单与特殊权限设置
            </router-link>
          </el-button>

          <el-button type="primary" size="small" @click="handleEdit(scope)">
            编辑
          </el-button>
          <el-button type="danger" size="small" @click="handleDelete(scope)">
            删除
          </el-button>
        </template>
      </el-table-column> -->
    </el-table>

    <!-- <el-pagination
      v-show="total > 0"
      :total="total"
      :current-page="searchParams.page"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="searchParams.page_size"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    /> -->
  </div>
</template>

<script>
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';
// import i18n from '@/lang'

const defaultModel = {
  name: '',
  display_name: '',
  description: ''
};

export default {
  name: 'MaxRole', // 积分管理
  mixins: [baseModel],
  data() {
    return {
      baseUrl: '/api/credits',
      keyName: 'id',
      modelName: '积分',
      initModel: defaultModel,
      search_items: {
        name: '',
        display_name: ''
      },
      searchParams: {
        filter: '',
        order_by: '',
        sort_by: '',
        search: '',
        page: 1,
        page_size: 100
      }, //
      formValiteRule: {
        display_name: { required: true, message: '不能为空' },
        name: { required: true, message: '不能为空' }
      }
    };
  },
  computed: {
    routesData() {
      return this.routes;
    }
  },
  mounted() {
    this.getList();
  },
  methods: {
    // async handleAdd(defaultModel) {
    //   this.model = Object.assign({}, defaultModel);
    //   this.dialogType = "new";
    //   this.dialogVisible = true;
    //   this.currentKey = "";
    // },
    // async handleEdit(scope) {
    //   this.dialogType = "edit";
    //   this.currentKey = scope.row[this.keyName];
    //   this.model = this.formatModal(defaultModel, scope.row);
    //   this.dialogVisible = true;
    // },
    // _handleSave() {
    //   this.$refs.ruleForm.validate((valid) => {
    //     if (valid) {
    //       this.handleSave();
    //       // return true
    //     } else {
    //       console.log("error submit!!");
    //       return false;
    //     }
    //   });
    // },
    // handleReset() {
    //   this.model = defaultModel;
    // },
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .user-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
