<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-23 21:43:48
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-14 17:37:19
 * @ Description:  积分收入
 -->

<template>
  <div class="app_container">
    <!-- <div class="el-tag el-tag--medium el-tag--light" style="width: 100%; height: 43px; margin-bottom: 6px">
      <span class="el-form-item__label" style="font-size: 16px; font-weight: bold; margin-left: 10px"> 积分编辑</span>
    </div> -->

    <el-form
      ref="ruleForm" :model="model" label-width="100px"
      :rules="formValiteRule" label-position="right"
    >
      <el-row>
        <el-col :span="24">
          <el-form-item label="操作用户">
            <UserSearchSelect ref="UserSearchSelect" :custom-style="{ width: '100%' }" :value.sync="currentKey" />
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item label="积分数额" prop="point">
            <el-input-number v-model="model.point" style="width: 100%" label="请输入积分标识" />
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-form-item label="后台备注" prop="admin_remark">
            <el-input
              v-model="model.admin_remark" require clearable
              :autosize="{ minRows: 2, maxRows: 4 }" type="textarea" placeholder="说点什么吧"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <div style="text-align: right">
        <el-button type="primary" @click="_handleSave">
          保存
        </el-button>
        <!-- <el-button type="danger" @click="handleReset"> 重置 </el-button> -->
        <el-button type="default" @click="_cancnel">
          取消
        </el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';
import UserSearchSelect from '@/components/UserSearchSelect';
// import ProSearchSelect from "@/components/ProSearchSelect";

const defaultModel = {
  point: 100,
  operate_type: '',
  admin_remark: ''
};

// let module = {}

export default {
  name: 'MaxPage',
  components: {
    UserSearchSelect
    // ProSearchSelect
  }, // 积分管理
  mixins: [baseModel],
  props: {
    operateType: {
      // eslint-disable-next-line vue/require-prop-type-constructor
      type: String | Number,
      default: 1
    }
  },
  data() {
    return {
      baseUrl: '/api/user/point/logs',
      keyName: 'id',
      modelName: '积分',
      initModel: defaultModel,
      uploadUrl: process.env.VUE_APP_BASE_API + '/Upload/File/Saves',
      search_items: {
        name: ''
      },
      proLoading: false,
      drawer: false,
      formValiteRule: {
        product_qrcode_code: {
          required: true,
          message: '不能为空'
        },
        admin_remark: {
          required: true,
          message: '不能为空'
        }
        // from_type: {
        //   required: true,
        //   message: "不能为空"
        // },
        // pay_type: {
        //   required: true,
        //   message: "不能为空"
        // },
      },
      options: []
    };
  },
  created() {
    // this.getList();
    this.model = {
      ...defaultModel,
      operate_type: this.operate_type
    };
  },
  methods: {
    saveBefore() {
      return this.formatModal(defaultModel, this.model);
    },
    addBefore() {
      const that = this;
    },

    handleReset() {
      this.model = {
        ...defaultModel,
        operate_type: this.operate_type
      };
      this.currentKey = '';
      this.$refs.UserSearchSelect._clear();
    },

    _handleSave() {
      if (!this.currentKey) {
        this.$message({
          type: 'error',
          message: '请选择用户'
        });

        return;
      }
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.handleSave();
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    async handleSave() {
      const params = {
        ...this.model
      };
      console.log(this.currentKey);
      //   debugger
      // return
      try {
        const res = await this.__update(this.currentKey, params);
        this.$message({
          type: 'success',
          message: '编辑成功!'
        });
        this.handleReset();
        this.$emit('handle', true);
      } catch (error) {
        this.$message({
          type: 'error',
          message: '编辑失败：' + error.message
        });
      }
    },
    async __update(id, data) {
      return request({
        url: `/api/users/${id}/point`,
        method: 'put',
        data
      });
    },
    _cancnel() {
      this.$emit('handle', false);
    }
  }
};
</script>

<style lang="scss" scoped>
.app_container {
  .icon-item {
    height: 30px;
    text-align: center;
    width: 30px;
    // float: left;
    font-size: 30px;
    color: #657586;
    cursor: pointer;
  }
}
</style>
