<!--
 * @Author: your name
 * @Date: 2021-12-03 22:34:50
 * @LastEditTime: 2021-12-24 10:16:15
 * @LastEditors: Please set LastEditors
 * @Description: 礼物选择
 * @FilePath: \cfpt-admin\src\components\TagSelect\index.vue
-->
<template>
  <el-select
    v-if="list.length > 0"
    v-model="val"
    style="width: 100%"
    :multiple="false"
    placeholder="请选择礼品"
    clearable
    @change="_change"
  >
    <el-option
      v-for="item in list"
      :key="item.id"
      :label="item.label"
      :value="item.id"
    />
  </el-select>
</template>

<script>
import request from '@/utils/request';
export default {
  name: 'AgentSelect',
  props: {
    multiple: {
      type: Boolean,
      default: false
    },
    customSytle: {
      type: Object,
      default: function() {
        return {};
      }
    }
  },
  data() {
    return {
      baseUrl: '/api/gifts/maps',
      list: [],
      val: []
    };
  },
  created() {
    this._getList();
  },
  // beforeDestroy() {
  //   window.removeEventListener('scroll', this.handleScroll)
  //   if (this.interval) {
  //     clearInterval(this.interval)
  //   }
  // },
  methods: {
    setValue(value) {
      this.val = value;
    },
    _clear() {
      this.val = '';
    },
    _change(e) {
      console.log(e);
      // let id = e[e.length - 1]
      // if(this.multiple){
      //   this.$emit('update:value', e)
      // }else{
      //   this.$emit('update:value', id)
      // }
      this.$emit('update:value', e);
    },
    // 省
    async _getList() {
      try {
        const res = await this.__getList();
        this.list = res;
        // debugger
      } catch (error) {
        return [];
      }
    },
    __getList(data) {
      return request({
        url: this.baseUrl,
        method: 'get',
        params: {
          page: 1,
          page_size: 100
        }
      });
    }
  }
};
</script>

<style scoped lang="scss"></style>
