<!--
 * @Author       : xh
 * @Date         : 2022-04-29 14:28:39
 * @LastEditors  : xh
 * @LastEditTime : 2022-05-27 18:32:31
 * @FilePath     : \xh-admin-templete\src\layout\components\AppMain.vue
-->
<!--
 * @Author: loserjohn
 * @Date: 2021-11-30 21:30:46
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-03-26 00:37:40
 * @Description: ---
 * @FilePath: \cfpt-admin\src\layout\components\AppMain.vue
-->
<template>
  <section class="app-main">
    <transition
      name="fade-transform"
      mode="out-in"
    >
      <div>
        <keep-alive>
          <router-view
            v-if="cachedViews.includes(this.$route.name)"
            :key="key"
          />
        </keep-alive>
        <router-view
          v-if="!cachedViews.includes(this.$route.name)"
          :key="key"
        />
        <!-- <router-view :key="key" /> -->
      </div>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'AppMain',
  computed: {
    cachedViews() {
      console.log(6666, this.$store.state.tagsView.cachedViews);
      return this.$store.state.tagsView.cachedViews;
    },
    key() {
      return this.$route.fullPath;
    }
  }
};
</script>

<style lang="scss" scoped>
.app-main {
  /* 50= navbar  50  */
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.fixed-header + .app-main {
  padding-top: 50px;
}

.hasTagsView {
  .app-main {
    /* 84 = navbar + tags-view = 50 + 34 */
    min-height: calc(100vh - 84px);
  }

  .fixed-header + .app-main {
    padding-top: 84px;
  }
}
</style>
