<template>
  <div class="navbar">
    <hamburger
      id="hamburger-container"
      :is-active="sidebar.opened"
      class="hamburger-container"
      @toggleClick="toggleSideBar"
    />

    <breadcrumb
      id="breadcrumb-container"
      class="breadcrumb-container"
    />

    <div class="right-menu">
      <template v-if="device !== 'mobile'">
        <!-- <search id="header-search" class="right-menu-item" /> -->
        <span>{{ name }}</span>
        <!-- <error-log class="errLog-container right-menu-item hover-effect" /> -->

        <screenfull
          id="screenfull"
          class="right-menu-item hover-effect"
        />

        <el-tooltip
          :content="$t('navbar.size')"
          effect="dark"
          placement="bottom"
        >
          <size-select
            id="size-select"
            class="right-menu-item hover-effect"
          />
        </el-tooltip>

        <!-- <msgTip></msgTip> -->
        <!-- <lang-select class="right-menu-item hover-effect" /> -->
      </template>

      <el-dropdown
        class="avatar-container right-menu-item hover-effect"
        trigger="click"
      >
        <div class="avatar-wrapper">
          <template v-if="storeData.getters.avatar">
            <img
              :src="storeData.getters.avatar"
              class="user-avatar"
            >
          </template>
          <template v-else>
            <img
              src="/favicon.ico"
              class="user-avatar"
            >
          </template>
          <i class="el-icon-caret-bottom" />
        </div>
        <el-dropdown-menu slot="dropdown">
          <!-- <router-link to="/profile/index">
                    <el-dropdown-item>
                        个人中心
                    </el-dropdown-item>
                </router-link>
                <router-link to="/">
                    <el-dropdown-item>
                        首页
                    </el-dropdown-item>
                </router-link> -->
          <router-link to="/account/password">
            <el-dropdown-item> 密码编辑 </el-dropdown-item>
          </router-link>
          <!-- <el-dropdown-item v-if="is_admin &&systemKey=='CRM'" style="color:red" >
                    <el-button type="text" @click="_swichSys('MAX')">通用权限管理平台</el-button>
                </el-dropdown-item>
                <el-dropdown-item v-if="is_admin &&systemKey=='MAX'" style="color:red" >
                    <el-button type="text" @click="_swichSys('CRM')">crm后台管理系统</el-button>
                </el-dropdown-item> -->
          <!-- <router-link to="/coding/page">
            <el-dropdown-item divided>
              代码生成
            </el-dropdown-item>
          </router-link>
          <router-link to="/coding/model">
            <el-dropdown-item>
              数据模型生成
            </el-dropdown-item>
          </router-link>
          <router-link to="/coding/defined">
            <el-dropdown-item>
              模块生成
            </el-dropdown-item>
          </router-link>
          <router-link to="/flow/designer">
            <el-dropdown-item>
              流程设计器
            </el-dropdown-item>
          </router-link> -->
          <!-- <a target="_blank" href="https://github.com/PanJiaChen/vue-element-admin/">
            <el-dropdown-item>
              {{ $t('navbar.github') }}
            </el-dropdown-item>
          </a>
          <a target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/#/">
            <el-dropdown-item>Docs</el-dropdown-item>
          </a> -->
          <el-dropdown-item divided>
            <span
              style="display: block"
              @click="logout"
            >{{
              $t("navbar.logOut")
            }}</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Breadcrumb from '@/components/Breadcrumb';
import Hamburger from '@/components/Hamburger';
// import ErrorLog from '@/components/ErrorLog'
import Screenfull from '@/components/Screenfull';
import SizeSelect from '@/components/SizeSelect';
// import LangSelect from '@/components/LangSelect'
// import Search from '@/components/HeaderSearch'
// import msgTip from '@/components/msgTip'
import store from '@/store';

export default {
  components: {
    Breadcrumb,
    Hamburger,
    // ErrorLog,
    Screenfull,
    SizeSelect
    // LangSelect,
    // Search,
    // msgTip
  },
  data() {
    return {
      storeData: store
    };
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar',
      'device',
      'name',
      'systemKey',
      'is_admin'
    ])
  },
  created() {
    // alert(this.name)
  },
  methods: {
    _swichSys(key) {
      this.$store.commit('user/SET_SYS', key);
      this.$store.commit('user/SWITCH_SYS');
      // debugger
      this.$router.push({
        path: '/redirect/dashboard'
      });
    },
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar');
    },
    async logout() {
      this.$store.dispatch('tagsView/delAllVisitedViews');
      this.$store.dispatch('tagsView/delAllCachedViews');
      await this.$store.dispatch('user/logout');
      await this.$store.dispatch('permission/reset');

      this.$router.push('/login');
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  // background: linear-gradient(45deg, #2b2f3a, #2b5ebe);
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
    display: flex;
    display: -webkit-flex;

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: #5a5e66;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
}
</style>
