<template>
  <el-tooltip
    class="item"
    effect="dark"
    :content="`你有${sysMsgAccount}条未读信息`"
    placement="bottom"
  >
    <div
      class="msgTip"
      @click="href()"
    >
      <i class="el-icon-message-solid icon" />
      <span
        v-if="sysMsgAccount"
        class="tips"
      >{{ sysMsgAccount }}</span>
    </div>
  </el-tooltip>
</template>

<script>
// fuse is a lightweight fuzzy-search module
// make search results more in line with expectations
// import Fuse from 'fuse.js'
// import path from 'path'
// import i18n from '@/lang'
import request from '@/utils/request';
import {
  mapGetters
} from 'vuex';
export default {
  name: 'HeaderSearch',
  data() {
    return {
      baseUrl: '/Msg/SystemInfo',
      keyName: 'info_code',
      modelName: '消息',
      options: [],
      acount: 0,
      show: false,
      fuse: undefined,
      loadMsg: false,
      notify: null
    };
  },
  computed: {
    ...mapGetters(['sysMsgAccount', 'sysMsgAccount']),
    routes() {
      return this.$store.getters.permission_routes;
    },
    lang() {
      return this.$store.getters.language;
    }
  },
  watch: {
    name(val) {
      this.loadMsg = false;
    },
    sysMsgAccount(val) {
      const that = this;

      if (!this.loadMsg && val > 0) {
        // alert(val)
        this.notify = this.$notify({
				  title: '系统消息',
				  // message: `您有${val}条未读信息`,
				  duration: 3000,
				  type: 'warning',
				  dangerouslyUseHTMLString: true,
				  message: `<div><strong>您有${val}条未读信息</strong></div><button type="primary" style="background: #53a5f1;font-size:12px,padding: 8px 12px;border-radius: 4px;color: #fff;margin-top: 6px;box-shadow: none;border:none;cursor: pointer;" @click="href"> 立即查看 </button> `,
				  offset: 50,
				  onClick() {
				     that.$router.push({
				      path: '/Msg/SystemInfoNoAuth'
				    });
            that.notify.close();
				  }
        });
        this.loadMsg = true;
      }
    }
  },

  mounted() {
    this.$store.dispatch('user/getSysMsgAccount');
     		this.loadMsg = false;

	 //  setInterval(()=>{
    // this.loadMsg = false
    // this.$store.dispatch('user/getSysMsgAccount');
	 //  },30000)
  },
  methods: {
    // async getDetail(){
    //   const res = await this.getDetailapi()
    //  if (res.result === 1) {
    //      this.acount = res.data
    //  }
    // },
    // getDetailapi(){
    //   return request({
    //     url: this.baseUrl + `/SystemInfoCount`,
    //     method: 'get'
    //   })
    // },
    href() {
      this.notify.close();
      this.$router.push({
        path: '/Msg/SystemInfoNoAuth'
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  .msgTip {
    position: relative;
    height: 50px;
    width: 34px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #fafafa;
    }

    .icon {
      font-size: 16px;
      color: #304156;

    }

    .tips {
      position: absolute;
      // width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: red;
      color: #fff;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      top: 10px;
      right: -8px;
      padding: 0 4px;

    }
	.btns{
		background-color: red;
		padding: 8px 12px;
		border-radius: 4px;
		color: #fff;
		margin-top: 6px;
		cursor: pointer;
		box-shadow: none;
	}
  }
</style>
