<template>
  <span>
    <el-tag
      v-for="tag in checkNodes"
      :key="tag.id"
      closable
      :disable-transitions="false"
      style="margin-right: 5px;"
      @close="handleDelete(tag)"
    >
      {{ tag.label }}
    </el-tag>
    <el-button
      type="primary"
      icon="el-icon-edit"
      circle
      size="mini"
      title="选择"
      @click="showTree=true"
    />
    <el-button
      type="danger"
      icon="el-icon-delete"
      circle
      size="mini"
      title="清空"
      @click="handleClear"
    />
    <el-dialog
      title="选择栏目"
      :visible.sync="showTree"
      width="30%"
      append-to-body
    >
      <el-tree
        ref="tree"
        :data="treeData"
        show-checkbox
        node-key="id"
        default-expand-all
        :append-to-body="true"
        :expand-on-click-node="false"
        :props="defaultProps"
        :check-strictly="true"
        @check="checkChange"
      />
    </el-dialog>
  </span>
</template>
<script>

export default {
  name: 'TreeSelect',
  props: {
    treeData: {
      type: Array,
      default: function() {
        return [];
      }
    },
    checkValues: {
      type: Array,
      default: function() {
        return [];
      }
    }
  },
  data() {
    return {
      showTree: false,
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      checkNodes: [],
      inCheckValues: this.checkValues
    };
  },
  methods: {
    checkChange(value, data) {
      this.checkNodes = data.checkedNodes;
    },
    handleSelect() {
      this.showTree = true;
    },
    handleClear() {
      this.checkNodes = [];
      this.$refs.tree.setCheckedNodes(this.checkNodes);
    },
    handleDelete(tag) {
      this.checkNodes.splice(this.checkNodes.indexOf(tag), 1);
      this.$refs.tree.setCheckedNodes(this.checkNodes);
    },
    getValues() {
      return this.$refs.tree.getCheckedKeys();
    },
    setValues(codes) {
      if (this.$refs.tree) {
        this.$refs.tree.setCheckedKeys(codes);
        this.checkNodes = this.$refs.tree.getCheckedNodes();
      } else {
        this.showTree = true;
        this.$nextTick(() => {
          this.$refs.tree.setCheckedKeys(codes);
          this.checkNodes = this.$refs.tree.getCheckedNodes();
          this.showTree = false;
        });
      }
    }
  }
};
</script>
