<template>
  <el-table
    :data="data"
    border
    style="width: 100%"
    :row-style="showTr"
    :row-key="keyName"
  >
    <el-table-column
      type="selection"
      width="55"
      align="center"
    />
    <el-table-column
      v-for="(column, index) in columns"
      :key="column.dataIndex"
      :label="column.text"
      :type="column.type"
      :width="column.width"
    >
      <template slot-scope="scope">
        <!-- <template v-for="space in scope.row._level">
          <span v-if="spaceIconShow(index)" :key="space" class="ms-tree-space" />
        </template> -->
        <span
          v-if="
            index === 0 &&
              (scope.row[parentName] === '0' || scope.row[parentName] === '') &&
              (!scope.row.children || scope.row.children.length <= 0)
          "
          class="ms-tree-space"
        />
        <template v-if="column.type === 'switch'">
          <el-switch
            v-model="scope.row[column.dataIndex]"
            @change="column.handle(scope.row)"
          />
        </template>
        <template v-else>
          {{ scope.row[column.dataIndex] }}
        </template>
      </template>
    </el-table-column>
    <el-table-column
      align="left"
      label="操作"
      :width="operateColumnWidth"
    >
      <template slot-scope="scope">
        <el-button
          v-for="operate in operates"
          :key="operate.code"
          :type="operate.type"
          size="small"
          @click="operate.handle(scope)"
        >
          {{ operate.text }}
        </el-button>
      </template>
    </el-table-column>
  </el-table>
</template>
<script>
// import Utils from '../utils/index.js'
// import Vue from 'vue'
export default {
  name: 'TreeGrid',
  props: {
    // 该属性是确认父组件传过来的数据是否已经是树形结构了，如果是，则不需要进行树形格式化
    treeStructure: {
      type: Boolean,
      default: function() {
        return false;
      }
    },
    // 这是相应的字段展示
    columns: {
      type: Array,
      default: function() {
        return [];
      }
    },
    // 这是相应的字段展示
    operateColumnWidth: {
      type: Number,
      default: function() {
        return 170;
      }
    },
    operates: {
      type: Array,
      default: function() {
        return [];
      }
    },
    // 这是数据源
    dataSource: {
      type: Array,
      default: function() {
        return [];
      }
    },
    // 这个作用是根据自己需求来的，比如在操作中涉及相关按钮编辑，删除等，需要向服务端发送请求，则可以把url传过来
    requestUrl: {
      type: String,
      default: function() {
        return '';
      }
    },
    // 这个是是否展示操作列
    treeType: {
      type: String,
      default: function() {
        return 'normal';
      }
    },
    // 是否默认展开所有树
    defaultExpandAll: {
      type: Boolean,
      default: function() {
        return true;
      }
    },
    // 是否默认展开所有树
    keyName: {
      type: String,
      default: function() {
        return 'id';
      }
    },
    // 是否默认展开所有树
    parentName: {
      type: String,
      default: function() {
        return 'parentId';
      }
    }
  },
  data() {
    return {};
  },
  computed: {
    // 格式化数据源
    data: function() {
      const me = this;
      // if (me.treeStructure) {
      //   const data = Utils.MSDataTransfer.treeToArray(me.dataSource, null, null, me.defaultExpandAll)
      //   debugger
      //   return data
      // }
      return me.dataSource;
    }
  },
  methods: {
    // 显示行
    showTr: function(row, index) {
      const show = row._parent
        ? row._parent._expanded && row._parent._show
        : true;
      row._show = show;
      return show ? '' : 'display:none;';
    }
    // 展开下级
    // toggle: function(trIndex) {
    //   const me = this
    //   const record = me.data[trIndex]
    //   record._expanded = !record._expanded
    // },
    // 显示层级关系的空格和图标
    // spaceIconShow(index) {
    //   const me = this
    //   if (me.treeStructure && index === 0) {
    //     return true
    //   }
    //   return false
    // },
    // 点击展开和关闭的时候，图标的切换
    // toggleIconShow(index, record) {
    //   debugger
    //   const me = this
    //   if (me.treeStructure && index === 0 && (!record.children || record.children.length <= 0)) {
    //     return true
    //   }
    //   return false
    // }
  }
};
</script>
<style scoped>
.ms-tree-space {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  width: 18px;
  height: 14px;
}
.ms-tree-space::before {
  content: "";
}
table td {
  line-height: 26px;
}
.el-table__expand-icon--expanded {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
</style>
