<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-28 12:24:37
 * @ Modified by: loserjohn
 * @ Modified time: 2021-12-02 00:24:24
 * @ Description: 图标选择
 -->

<template>
  <div class="icons-container">
    <!-- <aside>
      <a href="https://panjiachen.github.io/vue-element-admin-site/guide/advanced/icon.html" target="_blank">Add and use
      </a>
    </aside>
    <el-tabs type="border-card">
      <el-tab-pane label="Icons"> -->
    <div
      v-for="item of svgIcons"
      :key="item"
      @click="handleClipboard(generateIconCode(item), $event)"
    >
      <el-tooltip placement="top">
        <div slot="content">
          {{ generateIconCode(item) }}
        </div>
        <div class="icon-item">
          <svg-icon
            :icon-class="item"
            class-name="disabled"
          />
          <span>{{ item }}</span>
        </div>
      </el-tooltip>
    </div>
    <!-- </el-tab-pane>
      <el-tab-pane label="Element-UI Icons">
        <div v-for="item of elementIcons" :key="item" @click="handleClipboard(generateElementIconCode(item),$event)">
          <el-tooltip placement="top">
            <div slot="content">
              {{ generateElementIconCode(item) }}
            </div>
            <div class="icon-item">
              <i :class="'el-icon-' + item" />
              <span>{{ item }}</span>
            </div>
          </el-tooltip>
        </div>
      </el-tab-pane>
    </el-tabs> -->
  </div>
</template>

<script>
import clipboard from '@/utils/clipboard';
import svgIcons from './svg-icons';
import elementIcons from './element-icons';

export default {
  name: 'Icons',
  data() {
    return {
      svgIcons,
      elementIcons
    };
  },
  methods: {
    generateIconCode(symbol) {
      return `${symbol}`;
    },
    generateElementIconCode(symbol) {
      return `<i class="el-icon-${symbol}" />`;
    },
    handleClipboard(text, event) {
      // clipboard(text, event);
      this.$emit('_chooseIcon', text);
    }
  }
};
</script>

<style lang="scss" scoped>
.icons-container {
  margin: 10px 20px 0;
  overflow: hidden;

  .icon-item {
    // margin: 20px;
    height: 85px;
    text-align: center;
    width: 100px;
    float: left;
    font-size: 30px;
    color: #657586;
    cursor: pointer;
  }

  span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
  }

  .disabled {
    pointer-events: none;
  }
}
</style>
