<!--
 * @Author: your name
 * @Date: 2021-11-30 21:30:46
 * @LastEditTime: 2022-02-16 22:27:16
 * @LastEditors: Please set LastEditors
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: \cfpt-admin\src\App.vue
-->
<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  mounted() {},
  methods: {}
};
</script>
