<template>
  <div class="login-container">
    <div class="panelBox">
      <div class="rightPanel">
        <el-form
          ref="loginForm" :model="loginForm" :rules="loginRules"
          class="login-form" auto-complete="on" label-position="left"
        >
          <div class="title-container">
            <h3 class="title">
              Welcome
            </h3>
            <!-- <lang-select class="set-language" /> -->
          </div>
          <p class="inputName">
            账号
          </p>
          <el-form-item prop="username">
            <span class="svg-container">
              <svg-icon icon-class="user" />
            </span>
            <el-input
              ref="username" v-model="loginForm.username" :placeholder="$t('login.username')"
              name="username" type="text" tabindex="1"
              auto-complete="on"
            />
          </el-form-item>

          <p class="inputName">
            密码
          </p>
          <el-form-item prop="password">
            <span class="svg-container">
              <svg-icon icon-class="password" />
            </span>
            <el-input
              :key="passwordType" ref="password" v-model="loginForm.password"
              :type="passwordType" :placeholder="$t('login.password')" name="password"
              tabindex="2" auto-complete="on" @keyup.native="checkCapslock"
              @blur="capsTooltip = false" @keyup.enter.native="handleLogin"
            />
            <span class="show-pwd" @click="showPwd">
              <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
            </span>
          </el-form-item>

          <p v-if="needYzm" class="inputName">
            验证码
          </p>
          <el-form-item v-if="needYzm">
            <div style="display: flex">
              <span class="svg-container">
                <svg-icon icon-class="password" />
              </span>
              <el-input
                ref="code" v-model="loginForm.code" placeholder="请输入验证码"
                name="code" clearable type="number"
                tabindex="1" auto-complete="on" style="flex: 1"
              />
              <el-button
                type="primary" :plain="true" size="mini"
                :disabled="second > 0" @click.native.prevent="getCode"
              >
                {{ second > 0 ? `(${second})s` : '发送验证码' }}
              </el-button>
            </div>
          </el-form-item>

          <el-button
            :loading="loading" size="medium" type="primary"
            style="width: 100%; margin-bottom: 30px" @click.native.prevent="handleLogin"
          >
            {{ $t('login.logIn') }}
          </el-button>
        </el-form>
      </div>
      <div class="leftPanel">
        <!-- <img src="../../assets/logo.png" class="logo" alt="" />
        <h4>重大项目监控管理</h4> -->
      </div>
    </div>

    <el-dialog :title="$t('login.thirdparty')" :visible.sync="showDialog">
      {{ $t('login.thirdpartyTips') }}
      <br>
      <br>
      <br>
      <social-sign />
    </el-dialog>
    <!-- <img src="@/assets/bg.jpeg" class="baseBg" alt="" /> -->
  </div>
</template>
<!-- src="http://101.201.37.238/linjiangweb/static/img/login-back.38ed2c34.png" -->
<script>
// import LangSelect from '@/components/LangSelect';
import request from '@/utils/request';
import { validUsername } from '@/utils/validate';
import SocialSign from './components/SocialSignin';

let timer = null;

export default {
  name: 'Login',
  components: {
    // LangSelect,
    SocialSign
  },
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!validUsername(value)) {
        callback(new Error('请输入账户名称'));
      } else {
        callback();
      }
    };
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('请输入密码'));
      } else {
        callback();
      }
    };
    return {
      loginForm: {
        username: '18760424041',
        password: '123456',
        code: ''
      },
      loginRules: {
        username: [
          {
            required: true,
            trigger: 'blur',
            validator: validateUsername
          }
        ],
        password: [
          {
            required: true,
            trigger: 'blur',
            validator: validatePassword
          }
        ]
      },
      passwordType: 'password',
      capsTooltip: false,
      loading: false,
      showDialog: false,
      redirect: undefined,
      token: undefined,
      systemKey: 'CRM',
      needYzm: false,
      second: 0
    };
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true
    }
  },
  created() {
    // window.addEventListener('storage', this.afterQRScan)
  },
  mounted() {
    if (this.loginForm.username === '') {
      this.$refs.username.focus();
    } else if (this.loginForm.password === '') {
      this.$refs.password.focus();
    }
  },
  destroyed() {
    // window.removeEventListener('storage', this.afterQRScan)
  },
  methods: {
    // 发送验证码
    getCode() {
      const that = this;
      this.$refs.loginForm.validate(async (valid) => {
        if (valid) {
          try {
            const res = await request({
              url: '/api/sms/code',
              method: 'get',
              params: {
                mobile: this.loginForm.username,
                type: 'admin_login'
              }
            });
            this.$message.success(`发送验证码至${this.loginForm.username}，请注意查收`);
            that.second = 30;
            timer = setInterval(() => {
              that.second -= 1;
              if (that.second <= 0) {
                clearInterval(timer);
                timer = null;
                that.second = 0;
              }
            }, 1000);
          } catch (e) {
            // TODO handle the exception
            this.$message.error(e && e.message ? e.message : '发送验证码失败');
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },

    checkCapslock({ shiftKey, key } = {}) {
      if (key && key.length === 1) {
        if ((shiftKey && key >= 'a' && key <= 'z') || (!shiftKey && key >= 'A' && key <= 'Z')) {
          this.capsTooltip = true;
        } else {
          this.capsTooltip = false;
        }
      }
      if (key === 'CapsLock' && this.capsTooltip === true) {
        this.capsTooltip = false;
      }
    },
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = '';
      } else {
        this.passwordType = 'password';
      }
      this.$nextTick(() => {
        this.$refs.password.focus();
      });
    },
    handleLogin() {
      this.loginForm.systemKey = this.systemKey;
      if (this.needYzm && !this.loginForm.code) {
        // debugger
        this.$message.error('请输入验证码');
        return;
      }
      // debugger
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch('user/login', this.loginForm)
            .then(() => {
              this.$router.push({
                path: this.redirect || '/dashboard'
              });
              this.loading = false;
            })
            ['catch']((e) => {
              this.loading = false;
              // debugger
              this.$message.error(e && e.message ? e.message : '登录失败');
              if (e && e.code === 12001) {
                // debugger;
                this.needYzm = true;
              }
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss">
$bg: #fbfbfb;
$light_gray: #999999;
$cursor: #999;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
    border: none !important;
  }
}

/* reset element-ui css */
.login-container {
  .el-input__inner {
    border: none !important;
  }
  .el-input,
  .el-select {
    display: inline-block;
    height: 38px;
    width: 85%;

    input {
      background: transparent;
      border: none !important;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 38px;
      caret-color: $cursor;
      background-color: #fbfbfb;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    // border: 1px solid rgba(255, 255, 255, 0.1);

    // background: rgba(0, 0, 0, 0.1);
    background: rgb(251, 251, 251);
    border-radius: 5px;
    color: #999;
  }
}
</style>
<style lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;

.login-container {
  height: 100vh;
  width: 100vw;
  background-color: #cacdd6;
  overflow: hidden;
  background-image: url(../../assets/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  position: relative;

  .baseBg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .panelBox {
    width: 840px;
    height: 400px;
    border-radius: 0 0 0 100px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -410px;
    top: 50%;
    margin-top: -210px;

    .leftPanel {
      background: linear-gradient(87deg, #546fb169, #eed9f200);
      text-align: center;
      color: #fff;
      float: right;
      width: 420px;
      height: 400px;

      .logo {
        margin-top: 104px;
        width: 222px;
      }
    }

    .rightPanel {
      width: 420px;
      height: 400px;
      background: linear-gradient(216deg, #9aaaeb, #e2d9f21a);
      float: left;

      .login-form {
        position: relative;
        width: 420px;
        height: 400px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 40px;

        .inputName {
          font-weight: 600;
          color: #00070f;
          text-indent: 21px;
        }
      }
    }
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: #00070f;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }

    .set-language {
      color: #fff;
      position: absolute;
      top: 3px;
      font-size: 18px;
      right: 0px;
      cursor: pointer;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .thirdparty-button {
    position: absolute;
    right: 0;
    bottom: 6px;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }
}
</style>
