<!--
 * @Author: your name
 * @Date: 2021-12-03 22:34:50
 * @LastEditTime: 2022-02-16 22:44:11
 * @LastEditors: Please set LastEditors
 * @Description: 代理商选择
 * @FilePath: \cfpt-admin\src\components\TagSelect\index.vue
-->
<template>
  <el-select
    v-if="list.length > 0"
    v-model="val"
    :multiple="false"
    placeholder="请选择代理商"
    :custom-sytle="customSytle"
    clearable
    filterable
    remote
    reserve-keyword
    :remote-method="_getList"
    :loading="loading"
    @change="_change"
  >
    <el-option
      v-for="item in list"
      :key="item.id"
      :label="item.name"
      :value="item.id"
    />
  </el-select>
</template>

<script>
import request from '@/utils/request';
export default {
  name: 'AgentSelect',
  props: {
    multiple: {
      type: Boolean,
      default: false
    },
    customSytle: {
      type: Object,
      default: function() {
        return {
          width: '100%'
        };
      }
    }
  },
  data() {
    return {
      baseUrl: '/api/merchants',
      list: [],
      val: [],
      loading: false
    };
  },
  created() {
    this._getList();
  },
  // beforeDestroy() {
  //   window.removeEventListener('scroll', this.handleScroll)
  //   if (this.interval) {
  //     clearInterval(this.interval)
  //   }
  // },
  methods: {
    setValue(value) {
      this.val = value;
    },
    _clear() {
      this.val = '';
    },
    _change(e) {
      console.log(e);
      // let id = e[e.length - 1]
      // if(this.multiple){
      //   this.$emit('update:value', e)
      // }else{
      //   this.$emit('update:value', id)
      // }
      this.$emit('update:value', e);
    },
    // 省
    async _getList(key) {
      this.loading = true;
      // let str = key ? `${key}` : "";
      const data = {
        page_size: 50,
        page: 1
      };
      if (key) {
        data.name = key;
      }

      try {
        const res = await this.__getList(data);
        this.list = res.list;
        this.loading = false;
      } catch (error) {
        console.log(111, error);

        this.loading = false;
        return [];
      }
    },
    __getList(data) {
      return request({
        url: this.baseUrl,
        method: 'get',
        params: data
      });
    }
  }
};
</script>

<style scoped lang="scss"></style>
