<!--
 * @Author: loserjohn
 * @Date: 2022-04-25 23:38:52
 * @LastEditors: loserjohn
 * @LastEditTime: 2022-04-25 23:54:26
 * @Description: ---
 * @FilePath: \sys\src\components\CodeSelect\index.vue
-->
<template>
  <el-select
    v-model="value" style="width: 100%" filterable
    remote reserve-keyword placeholder="请输入关键词"
    :remote-method="remoteMethod" :loading="loading" @change="change"
  >
    <el-option
      v-for="item in options" :key="item.indexCode" :label="item.name"
      :value="item"
    />
  </el-select>
</template>

<script>
import request from '@/utils/request';
export default {
  data() {
    return {
      options: [],
      value: [],
      list: [],
      loading: false,
      states: []
    };
  },
  mounted() {},
  methods: {
    change(e) {
      // debugger;
      if (e) {
        this.$emit('success', e);
      }
    },
    async remoteMethod(query) {
      if (query !== '') {
        try {
          const res = await request({
            method: 'GET',
            url: `/api/equipments/search?page_size=1000&name=${query}`
          });
          this.options = res.list;
        } catch (error) {}
      } else {
        this.options = [];
      }
    }
  }
};
</script>
