<!--
 * @ Author: loserjohn
 * @ Create Time: 2021-11-29 22:31:58
 * @ Modified by: loserjohn
 * @ Modified time: 2022-03-05 17:43:40
 * @ Description:  产品的分类树状图
 -->

<template>
  <transition :name="transitionName">
    <el-card class="box-card">
      <div
        slot="header"
        class="clearfix"
      >
        <span>品牌菜单结构</span>
        <!-- <el-button   type="text"
          >操作按钮</el-button > -->
      </div>
      <div
        :class="!current?'active bar':'bar'"
        @click="_all"
      >
        全部
      </div>
      <el-tree
        ref="tree"
        :data="dataList"
        :props="defaultProps"
        default-expand-all
        node-key="id"
        highlight-current
        :check-strictly="false"
        :expand-on-click-node="false"
        @node-click="checkChange"
      />
    </el-card>
  </transition>
</template>

<script>
import request from '@/utils/request';
import baseModel from '@/utils/baseModel';
export default {
  name: 'ProductClass',
  mixins: [baseModel],
  props: {
    visibilityHeight: {
      type: Number,
      default: 400
    },
    backPosition: {
      type: Number,
      default: 0
    },
    customStyle: {
      type: Object,
      default: function () {
        return {
          right: '50px',
          bottom: '50px',
          width: '40px',
          height: '40px',
          'border-radius': '4px',
          'line-height': '45px',
          background: '#e7eaf1'
        };
      }
    },
    transitionName: {
      type: String,
      default: 'fade'
    }
  },
  data() {
    return {
      visible: false,
      interval: null,
      current: '',
      baseUrl: '/api/product/categories',
      keyName: 'id',
      defaultProps: {
        children: 'subs',
        label: 'name',
        value: 'id'
      }
    };
  },
  created() {
    // this.getConfig()
    // this.getLang()
    this.getList();
  },
  beforeDestroy() { },
  methods: {
    _all() {
      this.current = '';
      this.$refs.tree.setCurrentKey(null);
      this.$emit('selectClass', '');
      this.$emit('selectClassAll', '');
    },
    checkChange(e) {
      console.log('classs', e);
      this.current = e.id;
      this.$emit('selectClass', e.id);
      this.$emit('selectClassAll', e);
    }

  }
};
</script>

<style scoped lang="scss">
  .bar {
    text-align: left;
    padding-left: 24px;
    cursor: pointer;
    font-size: 14px;
    color: #606266;
    height: 26px;
    line-height: 26px;
  }

  .active {
    background: #ecfcf9;
  }
</style>
